  $akkeron-logo-x: 0px;
  $akkeron-logo-y: 100px;
  $akkeron-logo-offset-x: 0px;
  $akkeron-logo-offset-y: -100px;
  $akkeron-logo-width: 100px;
  $akkeron-logo-height: 100px;
  $akkeron-logo-total-width: 100px;
  $akkeron-logo-total-height: 1200px;
  $akkeron-logo-image: '../images/partner-brands/partner-brands.png';
  $akkeron-logo: 0px 100px 0px -100px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $best-western-logo-x: 0px;
  $best-western-logo-y: 600px;
  $best-western-logo-offset-x: 0px;
  $best-western-logo-offset-y: -600px;
  $best-western-logo-width: 100px;
  $best-western-logo-height: 100px;
  $best-western-logo-total-width: 100px;
  $best-western-logo-total-height: 1200px;
  $best-western-logo-image: '../images/partner-brands/partner-brands.png';
  $best-western-logo: 0px 600px 0px -600px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $britannia-logo-x: 0px;
  $britannia-logo-y: 200px;
  $britannia-logo-offset-x: 0px;
  $britannia-logo-offset-y: -200px;
  $britannia-logo-width: 100px;
  $britannia-logo-height: 100px;
  $britannia-logo-total-width: 100px;
  $britannia-logo-total-height: 1200px;
  $britannia-logo-image: '../images/partner-brands/partner-brands.png';
  $britannia-logo: 0px 200px 0px -200px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $devere-logo-x: 0px;
  $devere-logo-y: 300px;
  $devere-logo-offset-x: 0px;
  $devere-logo-offset-y: -300px;
  $devere-logo-width: 100px;
  $devere-logo-height: 100px;
  $devere-logo-total-width: 100px;
  $devere-logo-total-height: 1200px;
  $devere-logo-image: '../images/partner-brands/partner-brands.png';
  $devere-logo: 0px 300px 0px -300px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $devere-village-logo-x: 0px;
  $devere-village-logo-y: 400px;
  $devere-village-logo-offset-x: 0px;
  $devere-village-logo-offset-y: -400px;
  $devere-village-logo-width: 100px;
  $devere-village-logo-height: 100px;
  $devere-village-logo-total-width: 100px;
  $devere-village-logo-total-height: 1200px;
  $devere-village-logo-image: '../images/partner-brands/partner-brands.png';
  $devere-village-logo: 0px 400px 0px -400px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $hilton-logo-x: 0px;
  $hilton-logo-y: 500px;
  $hilton-logo-offset-x: 0px;
  $hilton-logo-offset-y: -500px;
  $hilton-logo-width: 100px;
  $hilton-logo-height: 100px;
  $hilton-logo-total-width: 100px;
  $hilton-logo-total-height: 1200px;
  $hilton-logo-image: '../images/partner-brands/partner-brands.png';
  $hilton-logo: 0px 500px 0px -500px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $macdonald-logo-x: 0px;
  $macdonald-logo-y: 0px;
  $macdonald-logo-offset-x: 0px;
  $macdonald-logo-offset-y: 0px;
  $macdonald-logo-width: 100px;
  $macdonald-logo-height: 100px;
  $macdonald-logo-total-width: 100px;
  $macdonald-logo-total-height: 1200px;
  $macdonald-logo-image: '../images/partner-brands/partner-brands.png';
  $macdonald-logo: 0px 0px 0px 0px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $mecure-logo-x: 0px;
  $mecure-logo-y: 700px;
  $mecure-logo-offset-x: 0px;
  $mecure-logo-offset-y: -700px;
  $mecure-logo-width: 100px;
  $mecure-logo-height: 100px;
  $mecure-logo-total-width: 100px;
  $mecure-logo-total-height: 1200px;
  $mecure-logo-image: '../images/partner-brands/partner-brands.png';
  $mecure-logo: 0px 700px 0px -700px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $nh-logo-x: 0px;
  $nh-logo-y: 800px;
  $nh-logo-offset-x: 0px;
  $nh-logo-offset-y: -800px;
  $nh-logo-width: 100px;
  $nh-logo-height: 100px;
  $nh-logo-total-width: 100px;
  $nh-logo-total-height: 1200px;
  $nh-logo-image: '../images/partner-brands/partner-brands.png';
  $nh-logo: 0px 800px 0px -800px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $ph-logo-x: 0px;
  $ph-logo-y: 900px;
  $ph-logo-offset-x: 0px;
  $ph-logo-offset-y: -900px;
  $ph-logo-width: 100px;
  $ph-logo-height: 100px;
  $ph-logo-total-width: 100px;
  $ph-logo-total-height: 1200px;
  $ph-logo-image: '../images/partner-brands/partner-brands.png';
  $ph-logo: 0px 900px 0px -900px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $pp-logo-x: 0px;
  $pp-logo-y: 1000px;
  $pp-logo-offset-x: 0px;
  $pp-logo-offset-y: -1000px;
  $pp-logo-width: 100px;
  $pp-logo-height: 100px;
  $pp-logo-total-width: 100px;
  $pp-logo-total-height: 1200px;
  $pp-logo-image: '../images/partner-brands/partner-brands.png';
  $pp-logo: 0px 1000px 0px -1000px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $qhotels-logo-x: 0px;
  $qhotels-logo-y: 1100px;
  $qhotels-logo-offset-x: 0px;
  $qhotels-logo-offset-y: -1100px;
  $qhotels-logo-width: 100px;
  $qhotels-logo-height: 100px;
  $qhotels-logo-total-width: 100px;
  $qhotels-logo-total-height: 1200px;
  $qhotels-logo-image: '../images/partner-brands/partner-brands.png';
  $qhotels-logo: 0px 1100px 0px -1100px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
