.partner-brands {
    display: none;
    padding: 0  0 1em 0;
    ul {
        @include clearfix;  
    }
    li {
        float: left;
        margin: 0 5px 10px 0;
        background-color: #fff;
        border: 1px solid $light-purple;
        @include border-radius(5px);
        text-align: center;
        width: 100px; 
        height: 100px;
        &.last-child {
            margin: 0 0 10px 0;
        }
    }
    .partner-brand-devere { @include sprite($devere-logo) }
    .partner-brand-qhotels { @include sprite($qhotels-logo) }
    .partner-brand-macdonald { @include sprite($macdonald-logo) }
    .partner-brand-hilton { @include sprite($hilton-logo) }
    .partner-brand-mercure { @include sprite($mecure-logo) } 
    .partner-brand-village { @include sprite($devere-village-logo) } 
    .partner-brand-nhhotels { @include sprite($nh-logo) }
    a {
        line-height: 0;
        display: block;
        width:100%;
        height:100%;
    }
}
@include respond-min($medium) {
    .partner-brands {
        border-top: 1px dotted $medium-purple;
        display: block;
    }
}