.home-text {
    li {
        background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
        span {
            color: $pink;
            font-style: italic;
            font-size: 1.2em;
        }
    }
}

.btn-secondary {
    background: $light-blue;
}

.btn-primary {
    background: $yellow;
}

@include respond-min($medium) {
    .home-text {
        border-left: 1px dotted $medium-purple;
        li {
            background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
            span {
                color: $pink;
                font-style: italic;
                font-size: 1.5em;
            }            
        }
    }
}