body, input {
	line-height: 1.2;
	font-size: 16px;
	font-family: 'Lato', 'Arial', sans-serif;
}

pre, code, kbd, tt {
	font: 1em/1.4 Monaco, Courier, monospace;
}

p, ul, ol, dl, dd, pre, table {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.2em;
	margin-bottom: 0.5em;
	font-weight: 800;
}

h2 {
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.25em;
	margin-bottom: 0.8em;
}

h4 {
	font-size: 1em;
	margin-bottom: 1em;
}

h5 {
	font-size: .8em;
	margin-bottom: 1.25em;
}

h6 {
	font-size: .667em;
	margin-bottom: 1.5em;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}
