.btn-secondary {
	font-weight: normal;
	font-size: 1.25em;
	border: 0 !important; 
	padding: 8px 25px;
	display: inline-block;
	@include border-radius(5px);
	cursor: pointer;
	color: $white;
	&:hover {
		text-decoration: none;
	}
}

.btn-tertiary {
	font-weight: $light;
	padding: 8px 25px;
	display: inline-block;
	@include border-radius(5px);
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}		
}

.btn-primary {
    border: 0 !important; 
    padding: 11px;
    font-size: 1em;
    display: inline-block;
    @include border-radius(5px);
    cursor: pointer;
    &:hover {
        text-decoration: none;
    } 
}