.datepicker {
    top: 7px !important;
    background-color: $white;
    border: 1px solid $mid-grey;
    @include border-radius(.8em);
    z-index: 10;
    position: absolute;
}

.datepicker-placeholder .datepicker.dropdown-menu{
    width: 100%;
    margin-top: 45px;
    .table-condensed {
        width: 100%;
    }
    .datepicker-switch {
        font-size: 18px;
        padding: 12px 0px;
    }
    .datepicker-days tr td {
        cursor: pointer;
        padding: 10px 12px;
        border-left: 1px dashed #ddd;
        &:first-child {
            border: none;
        }
        &.active {
            background: #411085;
            color: $white;
        }
    }
}

.datepicker td,
.datepicker th {
    text-align: center;
}

.datepicker td:hover {
    background: $mid-grey;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover,
.datepicker table tr td.new,
.datepicker table tr td.old
{
    background: none;
    color: $mid-grey;
    cursor: default !important;
}

@include respond-min($small) {
    .datepicker-placeholder .datepicker.dropdown-menu {
        width: auto;
        .datepicker-days tr td {
            &.active {
                @include border-radius(25px);
            }
        }
    }
}

@include respond-min($medium) {
    .datepicker-placeholder .datepicker.dropdown-menu {
        width: auto;
    }
}