input, select {
    width: 100%;
    border: 0;
    background: white;
    @include border-radius(0.3125em);
    @include appearance(initial);
    text-indent: 0.01px;
    text-overflow: '';
    border: 1px solid $mid-grey;
    vertical-align: text-bottom;
}

select {
    padding: 0 0 0 0.8em;
    height: 2.85em;
    background-size: 6px 10px;
}


select::-ms-expand {
    display: none;
}


input {
    padding: 0.8em 0 0.8em 0.8em;
    height: 2.85em;
}

.select-icon {
    background: transparent url(../images/icons/updownarrowsx2.png) top left no-repeat;
    background-size: 6px 10px;
    position: absolute;
    top: 1.14em;
    right: 0.75em;
    z-index: 2;
    height: 10px;
    width: 6px !important;
}


@-moz-document url-prefix() { 
  select {
    padding-top: 0.7em;
  }

  .select-icon {
    top: 1.16em;
  }
}

.lt-ie9, .lt-ie10 {
    select {
        padding: 0.75em 0 0 0.8em;
    }
    .select-icon {
        display: none;
    }
}


