/*
* SimpleModal Basic Modal Dialog
* http://simplemodal.com
*
* Copyright (c) 2013 Eric Martin - http://ericmmartin.com
*
* Licensed under the MIT license:
*   http://www.opensource.org/licenses/mit-license.php
*/

#basic-modal-content {
	display: none;
}

#simplemodal-overlay {
	background-color: #000;
}

#simplemodal-container {
	min-height: 170px;
	width: 300px;
	background-color: #fff;
	border: 5px solid $purple;
	padding: 12px;
	.simplemodal-data {
		padding: 8px;
	}
	code {
		background: #141414;
		border-left: 3px solid #65B43D;
		color: #bbb;
		display: block;
		font-size: 12px;
		margin-bottom: 12px;
		padding: 4px 6px 6px;
	}
	a {
		color: #ddd;
		&.modalCloseImg {
			background: url(../images/icons/close-icon.png) no-repeat;
			width: 30px;
			height: 30px;
			display: inline;
			z-index: 3200;
			position: absolute;
			top: -15px;
			right: -16px;
			cursor: pointer;
		}
	}
	h3 {
		color: $purple;
		margin: 0em;
	}
}

.lt-ie7 {
	#simplemodal-container a.modalCloseImg {
		display: none;
		background: none;
		right: -14px;
		width: 22px;
		height: 26px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/icons/close-icon.png',sizingMethod='scale');
	}	
}

@include respond-min($small) {

	#simplemodal-container {

		min-height: 120px;
		width: 600px;

		a {
			color: #ddd;
		}

	}

}