.main-nav {
	white-space: nowrap;
	position: absolute;
	z-index: 2;
	top: 0;
	left: -11em;
	background: $dark-purple;
	height: 100%;
	width: 11em;
	padding-top: 1em;
	overflow: hidden;

	/* Hardware Acceleration  Samsung galaxy tab rendering issue*/
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	> ul{
		margin-top: 245px;

		>li:first-child {
			position: absolute;
			top: 5px;
			
			a {
				color: $white;

				&:hover {
					color: $yellow;
				}				
			}		
		}
	}


	&.active {
		> ul {
			margin-top: 475px;
		}
	}


	.dd {
		border: 0;
		color: $light-purple;
		position: relative;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 9em;
			left: 0.5em;
			top: 0;
			border-top: 1px dotted $light-purple;
		}

		&:last-child {
			padding-top: 0;
			
			&:before {
				top: -1em;
			}
		}

	
		> a {
			// display: none;
			color: $white;
			&:hover {
				color: $white;
				text-decoration: none;
			}
		}

		li {
			display: block;
			padding: 0.2em 0 1em 0.6em;
			font-size: 1em;

			> a {
				display: inline-block;
			}

			&:first-child {
				padding-top: 1em;
			}
		}
	}

	li {
		padding: 1em 0 1em  0.9em;
		font-size: 1.05em;
	}

	a {
		color: $white;

		&:hover, &.selected {
			color: $yellow;
		}
	}

	.user-nav {
		color: $yellow;
		margin-top: 1em;
		display: block;

		li {
			width: 10em;
			padding: .6em 1em;
		}
	}
}


ul.other-services li:nth-child(2) {
	white-space: pre-line;
}


@include respond-min($medium) {

	.main-nav {
		overflow: visible;
		top: 0;
		left: 0;
		background: $purple;
		height: auto;
		width: auto;
		padding-top: 0;
		position: relative;
		float: right;
		margin: 0.5em 0 0 0;
		@include clearfix;
		/* reset */
		-webkit-transform: none;
		-webkit-perspective: none;
		-webkit-backface-visibility: visible;	

		> ul{
			margin-top: 0;
			>li:first-child {
				position: static;
				
				a {
					color: $white;

					&:hover {
						color: $white;
					}				
				}		
			}			
		}


		&.active {
			> ul {
				margin-top:  0;
			}
		}


		.dd {
			background: transparent url(../images/nav-arrow-white.png) 100% 39% no-repeat;
			padding-right: .9em;
			margin-right: .6em;
			padding-left: .9em;
			border: none;
			color: $white;
			position: relative;

			&:before {
				content: none;
			}

			> a {
				display: block;
			}

			&:last-child {
				padding-top: 0.2em;
			}
		}

		li {
			color: $white;
			white-space: nowrap;
			float: left;
			padding: 0.2em .6em 0.6em .8em;
			border: 0;
			position: relative;

			a {
				padding: 0;

				&:hover, &.selected {
					color: $white;
				}
			}

			&:after {
				content: "|";
				@include color($white, .4);
				display:inline-block;
				height: 30px;
				z-index: 10;
				width: 1px;
				position: absolute;
				left: 0;
				top: 0.1em;
			}

			&:first-child {
				&:after {
					content: "";
				}
			}

			&.active {
				ul {
					display: block;

					li {
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						padding: .6em 0 .7em 0;
							&:last-child {
								border: 0;
							}			
						}
					}
			}

			ul {
				display: none;
				position: absolute;
				z-index: 100;
				width: 17em;
				padding: 1em 1em .3em .8em;
				@include background-opacity($purple, 0.8);
				@include border-radius(0 0 5px 5px);
				max-height: 300px;
				right: 0em;

				&.about-us {
					width: 12em;
				}

				li {
					float: none;

					&:after {
						content: "";
					}
				}
			}
		}

		.user-nav {
			display: none;
		}		
	}

// /* Hover interaction for desktop only */
	.no-touch {
		.main-nav {
			li {
				&:hover{
					cursor: pointer;

					a:hover{
						text-decoration: underline;
					}

					ul {
						display: block;
						li {
							border-bottom: 1px solid rgba(255, 255, 255, 0.1);
							padding: .6em 0 .7em 0;
							&:last-child {
								border: 0;
							}			
						}					
					}
				}
			}
		}
	}


	.lt-ie8 {
		.main-nav {
			clear: both;
			width: 730px;
			z-index: 9;

			li {
				text-decoration: none!important;
			 	ul {
					top: 28px;
		  		}	
		  	}		
		}
		.search-hotels {
			z-index: 8;
		}
	}
}

