.footer {
	ul.links {
		display: none;
	}

	span.copy {
		display: block;
		margin-left: 0.625em;
		margin-top: 0.625em;
	}	
}



@include respond-min($small) {

	.footer {
		color: #fff;
		font-size: 0.875em;
		position: relative;
		
		ul.links {
			padding: 1em 0.625em 0.625em 0.625em;
			display:block;
			width: 100%;
			height: auto;

			li {
				white-space: nowrap;
				display: inline-block;
				margin: 0 1.12em 0.6em 0;
			}
		}
	}

	.lt-ie8 {
		.footer {
			ul {
				li{
					*display: inline;
					zoom: 1;
				}
			}
		}          
	}

} //$small end