<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Late Rooms-Cheap Hotels, Discount Hotels &amp; Last Minute Hotels Deals. Make Hotel Reservations &amp; Book Hotels with Hotel Offers.</title>
    <meta name="description" content="Find cheap hotels, discount hotels and last minute hotel deals at LateRooms.com - the Hotel Offers Experts. Book hotels &amp; make hotel reservations online or by phone" />
    <meta name="keywords" content="hotels,cheap hotels,hotel deals,last minute hotels,discount hotels,last minute hotel deals,hotel offers,book hotels,hotel reservations,find hotels,late rooms,laterooms" />
    <meta name="language" http-equiv="Content-Language" content="en" />
    <meta name="robots" content="index,follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="canonical" href="http://www.laterooms.com" />
    <link rel="icon" type="image/gif" href="http://images.laterooms.com/favicon.gif" />
    <link rel="shortcut icon" type="image/gif" href="http://images.laterooms.com/favicon.gif" />

    <link href="/assets/opensearch/opensearch.xml" rel="search" type="application/opensearchdescription+xml" />

    <meta name="Expires" content="Mon, 20 Jul 1970 11:12:01 GMT" />
    <meta name="Expires" content="-1" />
    <meta name="Pragma" content="no-cache" />
    <meta name="Cache-Control" content="no-cache, must-revalidate" />

    <link rel="publisher" href="https://plus.google.com/109581939812786002313" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie.css">
    <span id='markerforlegacytranslation'></span><![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script>
    window.Modernizr || document.write('<script src="/scripts/thirdparty/modernizr/modernizr.js">\x3C/script>');
    </script>

    <script src="//www.google-analytics.com/cx/api.js"></script>
    <script type="text/javascript">
    (function() {
        var variationId = '${MvtInformation.VariantId}';
        var experimentId = '${MvtInformation.ExperimentId}';

        cxApi.setChosenVariation(variationId, experimentId);
    })();
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-324587-1']);
    _gaq.push(['_setDomainName', 'laterooms.com']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <!-- START OF SmartSource Data Collector TAG v10.2.0 -->
    <!-- Copyright (c) 2012 Webtrends Inc.  All rights reserved. -->
    <script>
    _tag = {
        exRates: {},
        siteCurrencies: {}
    };
    </script>
    <script src="/scripts/external/webtrends/async/webtrendsMC_config.js" type="text/javascript"></script>
    <script>
    window.webtrendsAsyncInit = function() {
        var dcs = new Webtrends.dcs().init({
            dcsid: "dcsedwiumuz5bd2ezhvf2bnqc_8f7d",
            domain: "statse.webtrendslive.com",
            fpcdom: ".laterooms.com",
            timezone: 0,
            i18n: false,
            splitvalue: "LateRoomsEN",
            plugins: {
                mc: {
                    src: "/scripts/thirdparty/webtrends/async/webtrendsMC.js"
                },
                mca: {
                    src: "/scripts/thirdparty/webtrends/async/webtrendsMCadd.js"
                },
                hm: {
                    src: "//s.webtrends.com/js/webtrends.hm.js"
                }
            }
        });
        dcs.WT.z_language = "EN";
        dcs.track();
    };
    (function() {
        var s = document.createElement("script");
        s.async = true;
        s.src = "/Script/webtrends/async/webtrends.js";
        var s2 = document.getElementsByTagName("script")[0];
        s2.parentNode.insertBefore(s, s2);
    }());
    </script>
    <!-- END OF SmartSource Data Collector TAG v10.2.0 -->


</head>

<body class="no-touch">
    <section class="cookie-msg hidden">
        <div class="container">
            <p>Our site uses cookies to give you the very best experience. Continued use of our site tells us that you're agreeing to the way we use cookies. Read more about cookie usage <a href="/en/static/CookieUsage.mvc" class="cookie-info" target="_blank">here</a>.</p>
            <a class="cookie-close" href="#">X</a>
        </div>
    </section>
    <section class="main">
        <section class="header">
            <div class="container">
                <div class="menu"></div>
                <h1>
                    <a href="http://www.laterooms.com/">
                        <img id="js-logo" src="/images/logox1.png" height="21" width="170" alt="Hotels - cheap hotels &amp; last minute hotels from LateRooms.com">
                    </a>
                </h1>
                <nav class="user-nav">
                    <ul>
                        <li><a href="/en/MyAccount.mvc">My Account </a> 
                            <span>/</span> <a href="/en/MyAccountRegistration.mvc">Register</a>
                        </li>
                        <li><a href="/en/ManageBooking.mvc">My Booking</a>
                        </li>
                        <li class="dd locale"><a>English</a>
                            <ul>
                                <li data-locale="EN"><a href="/">English</a>
                                </li>
                                <li data-locale="ES"><a href="/es/">Espa&ntilde;ol</a>
                                </li>
                                <li data-locale="DE"><a href="/de/">Deutsch</a>
                                </li>
                                <li data-locale="FR"><a href="/fr/">Fran&ccedil;ais</a>
                                </li>
                                <li data-locale="IT"><a href="/it/">Italiano</a> 
                                </li>
                            </ul>
                        </li>
                        <li class="dd"><a>GBP</a>
                            <ul class="currency"></ul>
                        </li>
                    </ul>
                </nav>
                <nav class="main-nav">
                    <ul>
                        <li><a class="selected" href="http://www.laterooms.com/">Home</a>
                        </li>
                        <li><a href="/en/Hotels.aspx" rel="nofollow">Search</a>
                        </li>
                        <li><a href="/en/special-offers.mvc">Special Offers</a>
                        </li>
                        <li><a href="/en/city-guides.aspx">City Guides</a>
                        </li>
                        <li><a href="/en/business-hotel-booking-services.aspx" rel="nofollow">Corporate</a>
                        </li>
                        <li class="dd"><a>About Us</a>
                            <ul class="about-us">
                                <li><a href="/en/static/AboutUs.mvc" rel="nofollow">Who are we</a>
                                </li>
                                <li><a href="http://laterooms.custhelp.com/app/answers/list" rel="nofollow">Help</a>
                                </li>
                                <li><a href="http://laterooms.custhelp.com/app/home" rel="nofollow">Customer Support</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dd"><a>Other Services</a>
                            <ul class="other-services">
                                <li><a href="/en/static/holiday-cottages.mvc" rel="nofollow">Book a Cottage</a>
                                </li>
                                <li><a href="/en/static/london-theatre-tickets.mvc" rel="nofollow">Book London Theatre Tickets</a>
                                </li>
                                <li><a href="http://www.carhiremarket.com/laterooms?Affiliate_ID=540" rel="nofollow">Hire a Car</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="search-hotels">
            <div class="search-container-wrapper">
                <form action="/en/Hotels.aspx" class="search-form" method="post">
                    <div class="search-container">
                        <div class="destination">
                            <input type="text" id="txtSearch" name="k" placeholder="Destination" autocomplete="off" />
                        </div>
                        <div class="validation-error-msg">
                            <h3>You have not entered any valid search criteria.</h3>
                            <p>Please enter a keyword and perform your search again.</p>
                        </div>
                        <div class="date">
                            <select class="date-select" name="d">
                            </select>
                            <div class="select-icon"></div>
                            <div class="cal-icon"></div>
                            <div class="datepicker-placeholder"></div>
                            <input type="hidden" class="input-hidden">
                        </div>
                        <div class="days">
                            <select name="n">
                                <option value="1">1 Night</option>
                                <option value="2">2 Nights</option>
                                <option value="3">3 Nights</option>
                                <option value="4">4 Nights</option>
                                <option value="5">5 Nights</option>
                                <option value="6">6 Nights</option>
                                <option value="7">7 Nights</option>
                                <option value="8">8 Nights</option>
                                <option value="9">9 Nights</option>
                                <option value="10">10 Nights</option>
                                <option value="11">11 Nights</option>
                                <option value="12">12 Nights</option>
                                <option value="13">13 Nights</option>
                                <option value="14">14 Nights</option>
                            </select>
                            <div class="select-icon"></div>
                        </div>
                        <p>room
                            <br/>sleeps</p>
                        <div class="adults">
                            <input type="hidden" name="rt" value="2-0" />
                            <select name="rt-adult">
                                <option value="1">1 Adult</option>
                                <option value="2" selected="selected">2 Adults</option>
                                <option value="3">3 Adults</option>
                                <option value="4">4 Adults</option>
                                <option value="5">5 Adults</option>
                                <option value="6">6 Adults</option>
                                <option value="7">7 Adults</option>
                                <option value="8">8 Adults</option>
                            </select>
                            <div class="select-icon"></div>
                        </div>
                        <div class="children">
                            <select name="rt-child">
                                <option value="0">0 Children</option>
                                <option value="1">1 Child</option>
                                <option value="2">2 Children</option>
                                <option value="3">3 Children</option>
                            </select>
                            <div class="select-icon"></div>
                        </div>
                        <div class="search">
                            <input class="btn-primary" type="submit" value="SEARCH">
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <a href="http://www.laterooms.com/en/k16295585_london-hotels.aspx?q=1_luxury-hotels">
                    <ul class="headline">
                        <li class="hotel">Da Lat</li>
                        <li class="from">Vietnam, from <span class="price">SGD 130</span></li>
                    </ul>
                </a>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <ul class="home-text">
                    <li>Book Now, Pay Later</li>
                    <li>Instant confirmation</li>
                    <li>No booking or cancellation fees</li>
                </ul>
                <section class="email-deals">
                    <form action="/en/Subscribe.aspx" method="post" id="deals-by-email-form">
                        <h2>
                            <span>FREE&nbsp;</span>email deals</h2>
                        <input type="email" name="txtDByEmail" class="email-field" placeholder="Enter your email address">
                        <input class="btn-secondary" type="submit" value="Get deals"></input>
                    </form>
                    <div class="email-deals-error-msg">
                        <h3>You have not entered a valid email address.</h3>
                        <p>Please enter a valid email address to receive deals by email.</p>
                    </div>
                </section>
                <section class="social-media">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/laterooms" title="Facebook">
                                <img src="/images/social-media/facebookx2.png" height="40" width="40" alt="LateRooms.com Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/laterooms" title="Twitter">
                                <img src="/images/social-media/twitterx2.png" height="40" width="40" alt="LateRooms.com Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+laterooms/posts" title="Google+">
                                <img src="/images/social-media/googleplusx2.png" height="40" width="40" alt="LateRooms.com Google+">
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.laterooms.com/" title="Blog">
                                <img src="/images/social-media/blogx2.png" height="40" width="40" alt="LateRooms.com Blog">
                            </a>
                        </li>
                        <li class="fb-likes">
                            <div id="fb-root"></div>
                            <div class="fb-like" data-href="http://www.facebook.com/laterooms" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                        </li>
                        <li class="g-likes">
                            <div class="google-widget-holder">
                                <g:plusone size="medium" href="http://www.laterooms.com"></g:plusone>
                            </div>
                            <script type="text/javascript">
                            (function() {
                                var po = document.createElement('script');
                                po.type = 'text/javascript';
                                po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(po, s);
                            })();
                            </script>
                        </li>
                    </ul>
                </section>
            </div>
            <section class="destinations">
                <h2>Popular destinations</h2>
                <div class="destinations-wrap">
                    <article class="destination">
                        <a href="/en/k16296355_manchester-hotels.aspx?q=1_luxury-hotels" title="4 &amp; 5 Star Luxury Hotels in Manchester">
                            <img src="/images/destinations/manchester.jpg" alt="4 &amp; 5 Star Luxury Hotels in Manchester">
                           <div class="info">Kuala Lumpur <span class="price">from <span class="curr">SGD 108</span></span></div>
                        </a>
                    </article>
                    <article class="destination">
                        <a href="/en/k16280256_birmingham-hotels.aspx?q=1_luxury-hotels" title="4 &amp; 5 Star Luxury Hotels in Birmingham">
                            <img src="/images/destinations/birmingham.jpg" alt="4 &amp; 5 Star Luxury Hotels in Birmingham">
                          <div class="info">Singapore <span class="price">from <span class="curr">SGD 108</span></span></div>
                        </a>
                    </article>
                    <article class="destination">
                        <a href="/en/k16287261_edinburgh-hotels.aspx?q=1_luxury-hotels" title="4 &amp; 5 Star Luxury Hotels in Edinburgh">
                            <img src="/images/destinations/edinburgh.jpg" alt="4 &amp; 5 Star Luxury Hotels in Edinburgh">
                          <div class="info">Jakarta <span class="price">from <span class="curr">SGD 108</span></span></div>
                        </a>
                    </article>
                    <article class="destination">
                        <a href="/en/k16294936_liverpool-hotels.aspx?q=1_luxury-hotels" title="4 &amp; 5 Star Luxury Hotels in Liverpool">
                            <img src="/images/destinations/liverpool.jpg" alt="4 &amp; 5 Star Luxury Hotels in Liverpool">
                          <div class="info">Bangkok <span class="price">from <span class="curr">SGD 108</span></span></div>
                        </a>
                    </article>
                    <article class="destination">
                        <a href="/en/k12835253_paris-hotels.aspx?q=1_luxury-hotels" title="4 &amp; 5 Star Luxury Hotels in Paris">
                            <img src="/images/destinations/paris.jpg" alt="4 &amp; 5 Star Luxury Hotels in Paris">
                         <div class="info">Bali <span class="price">from <span class="curr">SGD 108</span></span></div>
                        </a>
                    </article>
                    <article class="destination">
                        <a href="/en/k14605275_amsterdam-hotels.aspx?q=1_luxury-hotels" title="4 &amp; 5 Star Luxury Hotels in Amsterdam">
                            <img src="/images/destinations/amsterdam.jpg" alt="4 &amp; 5 Star Luxury Hotels in Amsterdam">
                         <div class="info">Thailand <span class="price">from <span class="curr">SGD 108</span></span></div>
                        </a>
                    </article>
                </div>
            </section>
            <section class="whats-new">
                  <h2>Hotel deals for you</h2>
                <article class="story">
                    <img src="/images/whats-new/placeholder.png" height="266" width="470"/>
                </article>
                <article class="story">
                    <img src="/images/whats-new/placeholder.png" height="266" width="470"/>
                </article>
            </section>
            <section class="inspire-me">
                <h2>Inspire me</h2>
            </section>
   <!--          <section class="partner-brands">
                <h2>Our partner brands</h2>
                <ul>
                    <li class="partner-brand-devere">
                        <a href="http://images.laterooms.com/en/hotel-offers/de-vere-hotels.html" title="De Vere hotels"></a>
                    </li>
                    <li class="partner-brand-macdonald">
                        <a href="http://images.laterooms.com/en/hotel-offers/macdonald-hotels.html" title="MacDonald hotels"></a>
                    </li>
                    <li class="partner-brand-qhotels">
                        <a href="http://images.laterooms.com/en/hotel-offers/q-hotels.html" title="Q hotels"></a>
                    </li>
                    <li class="partner-brand-hilton">
                        <a href="http://images.laterooms.com/en/hotel-offers/hilton-any-weekend-anywhere-dec.html" title="Hilton hotels"></a>
                    </li>
                    <li class="partner-brand-mercure">
                        <a href="http://images.laterooms.com/en/hotel-offers/mercure-hotels.html" title="Mercure hotels"></a>
                    </li>
                    <li class="partner-brand-village">
                        <a href="http://images.laterooms.com/en/hotel-offers/devere-villages-hotels-easter.html" title="De Vere Village hotels"></a>
                    </li>
                    <li class="partner-brand-nhhotels">
                        <a href="http://images.laterooms.com/hotel-brands/nh-jolly/nh-jolly-hotels.htm" title="NH hotels"></a>
                    </li>
                </ul>
            </section> -->
            <section class="social-media-footer">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/laterooms">
                            <img src="/images/social-media/facebookx2.png" height="40" width="40" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/laterooms">
                            <img src="/images/social-media/twitterx2.png" height="40" width="40" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+laterooms/posts">
                            <img src="/images/social-media/googleplusx2.png" height="40" width="40" alt="Google">
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.laterooms.com/">
                            <img src="/images/social-media/blogx2.png" height="40" width="40" alt="Laterooms">
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <section class="footer">
            <div class="container">
               
                <ul class="links">
                    <li><a href="http://laterooms.custhelp.com/app/home" rel="nofollow" accesskey="C">About Us</a>
                    </li>
                    <li>
                        <a href="/en/static/TermsOfUse.mvc#s4" rel="nofollow" accesskey="P">Privacy</a>
                    </li>
                    <li>
                        <a href="/en/static/CookieUsage.mvc" rel="nofollow" accesskey="U">Support</a>
                    </li>
                    <li>
                        <a href="/en/static/LegalDisclaimer.mvc" rel="nofollow" accesskey="D">Add your hotel</a>
                    </li>
                    <li>
                        <a href="http://affiliates.laterooms.com/en/Index.aspx" rel="nofollow">Affiliates</a>
                    </li>
                </ul>
       
                <span class="copy">Copyright &copy; 1999 - 2014 LateRooms Ltd</span>
            </div>
        </section>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="/scripts/thirdparty/jquery/jquery.min.js">\x3C/script>');
    </script>

    <!-- build:js /scripts/tlrg-homepage.js -->
    <script src="/scripts/external/json2/json2.js"></script>
    <script src="/scripts/internal/defer.js"></script>
    <script src="/scripts/external/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/scripts/external/simple-modal/js/jquery.simplemodal.js"></script>
    <script src="/scripts/internal/datePicker.js"></script>
    <script src="/scripts/external/jquerycookie/jquery.cookie.js"></script>
    <script src="/scripts/internal/personalisation.js"></script>
    <script src="/scripts/internal/mainNavigation.js"></script>
    <script src="/scripts/internal/footerLinks.js"></script>
    <script src="/scripts/internal/dealsByEmail.js"></script>
    <script src="/scripts/internal/autocomplete.js"></script>
    <script src="/scripts/internal/socialMedia.js"></script>
    <script src="/scripts/internal/whatsNew.js"></script>
    <script src="/scripts/internal/partnerBrands.js"></script>
    <script src="/scripts/internal/destinations.js"></script>
    <script src="/scripts/internal/datePickerSelect.js"></script>
    <script src="/scripts/internal/errorMessage.js"></script>
    <script src="/scripts/internal/searchBarValidation.js"></script>
    <script src="/scripts/internal/searchBar.js"></script>
    <script src="/scripts/plugins/simple.js"></script>
    <script src="/scripts/internal/homepageAnalytics.js"></script>
    <script src="/scripts/internal/cookieMessage.js"></script>
    <script src="/scripts/internal/currencyList.js"></script>
    <script src="/scripts/internal/main.js"></script>
    <!-- endbuild -->

    <noscript>
        <div>
            <img alt="dcsimg" id="dcsimg" width="1" height="1" src='//statse.webtrendslive.com/dcsedwiumuz5bd2ezhvf2bnqc_8f7d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.2.0&amp;dcssip=www.laterooms.com' />
        </div>
    </noscript>
</body>

</html>
