.children, .adults, .days, .date {
    position: relative;
}

.date {
    .select-icon {
        right: 2.6em;
    }
}

.adults {
    .select-icon {
        right: 1.2em;
    }
}

.validation-error-msg {
    display: none;
}

.search-hotels {
    position: relative;

    h1, .headline, p {
        display: none;
    }

    h1 {
        margin-top: 0.3em;
    }

    input[type='submit'] {
        font-weight: $bold;
        padding: 9px;
    }    

    input, select {
        margin-bottom: 0.8em;
    }

    .search-container {
        padding: 12px 0 12px 0;
        position: relative;
        margin: 0;
        z-index: 1;
        @include border-radius(5px);

        .adults {
            padding-right: .4em;
            width: 50%;
        }

        .children {
            padding-left: .4em;
            width: 50%;
        }  

        .days {
            width: 100%;
            select {
                background-position: 97% 51%;
            }
        }

        .date {
            position: relative;

            .cal-icon {
                width: 28px;
                height: 32px;
                background: transparent url(../images/icons/calendarx2.png) 0% 47% no-repeat;
                background-size: 22px 20px;
                position: absolute;
                top: 0.4em;
                right: 0.45em;
                z-index: 2;
            }                
        }    

    }

    #autocomplete {
        height: auto;
        width: 100%;
        background: #fff;
        @include border-radius(5px);
        border: 1px solid #bab9c7;
        margin: -.8em 0 .8em;
        ul {
            li {
                padding: 10px;
                border-bottom: 1px solid #bab9c7;
                position: relative;
                height: auto;
                width: 100%;
                display: block;
                float: left;


                span.location  {
                    display: block;
                    width: 67%;
                    float: left;
                }
                span.available-result-count {
                    display: block;
                    vertical-align: middle;
                    width: 33%;
                    float: right;
                    text-align: right;
                }
                &:last-child {

                }
                span {
                    font-weight: bold;
                }
            }
            li:hover {
                background: $purple;
                color: $white;
            }
        }
    }    
}

.lt-ie10 {
    .cal-icon {
        right: 1.1em !important;
    }   
}


@include respond-min($small) {

    .search-hotels {
        a:hover {
          text-decoration: none;
        }

        #autocomplete {
            width: 21em;
            margin: 0;
        }
        
        .search-container {
            margin-top: 70px;
            
            .days {
                select {
                    background-position: 93% 51%;
                }
            }           
        }

        .date {
            .select-icon {
                right: 2.13em;
            }
        }

        .adults {
            .select-icon {
                right: .6em;
            }
        }

        background-position: top center;
        background-size: 1200px 524px;
        height: 24.6em;
        font-size: 0.9em;

        input, select {
            margin-bottom: 0;
        }        

        h1 {
            display: block;
            visibility:hidden;
        }        

        .headline {
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            width: auto;
            height: auto;
            margin: 2.9em 0 0 0;
            white-space: nowrap;
            color: $white; 
            font-size: 40px;
            font-weight: $bold;
            @include border-radius(5px);

            li {
                margin: 0;
                padding: 0;

                &.hotel {
                    font-size: 40px;
                }

                &.from {
                    font-size: 24px;
                }

                &.price {
                    font-weight: $bold;
                    font-style: italic;
                    font-size: 40px;
                    margin-left: 5px;
                }
            }
        }

        .search-container {
            height: 4.3em;

            div {
                margin-right: 1%;
            }

            p {
                float: left;
                display: block;
                line-height: 1.2em;
                padding:0;
                margin: 2px 2% 0 0;
                width: 4%;
            }

            .destination {
                width: 14.5%;
                //min-width: 124px;
                margin-left: 1%;
            }

            .date {
                width: 23%;
                select{
                    background-position: 80% 51%;
                }         
                .cal-icon {
                    right: 0em;
                    background-position: 0% 37%;
                    cursor: pointer;
                }
            }
            .days {
                width: 13%;
            }
            .adults {
                width: 12%;
                padding: 0;
            }
            .children {
                width: 13.5%;
                padding: 0;
            }
            .search {
                width: 11%;
            }


        }      
    }
    
   .lt-ie9, .lt-ie10 {
        .search-hotels {
            .search-container {
                background: rgb(255,255,255);
                .date {
                    .cal-icon {
                        background: url(../images/icons/calendarx1.png) no-repeat;
                        top: .8em;
                        right: 1em;
                    }
                }
            }

            .headline {
                width: 11em;
            }

            .select-icon {
                display: none;
            }

            select, input[type="text"] {
                padding-bottom: 10px;
            }

            input[type="text"] {
                padding: 0.6em 0.8em 0 0.8em;
            }        
        }
    }    

    .lt-ie10 {
        .search-hotels {
            .search-container {        
                input[type="text"] {
                    padding: 0.1em 0.8em 0 0.8em;
                }
            }
        }
        .search-hotels {
            .search-container {
                .destination {
                    width: 14%;
                }
                .date {
                    width: 22.5%;
                }
                .days {
                    width: 13.5%;
                }
                .children {
                    width: 14%;
                }
            }
        }
    }



}


@include respond-min($x-medium) {
    .search-hotels {
        .search-container {
            .destination {
                width: 24%;
            }

            .date {
                width: 19.5%; // 22
                select{
                    background-position: 80% 51%;
                }         
                .cal-icon {
                    right: 0em;
                    background-position: 0% 37%;
                }
            }
            .days {
                width: 11%; //12
            }
            .adults {
                width: 10%; //11
            }
            .children {
                width: 11.5%; //13
            }
            .search {
                width: 11%;
            }
        }        
    }

    .lt-ie10 {
        .search-hotels {
            .search-container {
                .destination {
                    width: 22.5%;
                }
                .date {
                    width: 19.5%;
                }
                .days {
                    width: 11.5%;
                }
                .adults {
                    width: 10.5%;
                }
                .children {
                    width: 12%;
                }
            }
        }
    }

}


@include respond-min($medium) {

    .search-hotels {
        font-size: 1em;

        .search-container {

            p {
                margin: 2px 1.5% 0 0;
            }
            
            .destination {
                width: 23.5%;
            }

            .date {
                width: 20%;
            }

            .days {
                width: 11%;
            }
            .adults {
                width: 10%;
            }
            .children {
                width: 12%;
            }
            .date {
                .cal-icon {
                    background-position: 0% 54%;
                }
            }
        }
    }

    .lt-ie8 {
        .search-hotels {

            .search-container {
                padding: 20px 0 0 0;
                height: 45px;

                .destination {
                    max-width: 200px;
                    padding-left: 8px;
                }

                p {
                    line-height: 1.1em;
                    margin-top: -5px;
                    padding: 0 10px 0 10px;
                }
                .date {
                    .cal-icon {
                        top: 0.1em;
                    }                    
                }
                input[type="text"] {
                    padding: 0;
                    height: 21px;
                }

                input[type="submit"] {
                    font-weight: $bold;
                    height: 24px;
                    line-height: 0.5em;
                }   

            }

            .headline {
                width: 400px;
                height: 50px;
                overflow: hidden;
                margin-top: 230px;

                li{
                    *display: inline;
                    zoom: 1;

                    &.star {
                        padding-left: 5px;
                        
                        span.icon{
                            top: -5px;
                            padding-right: 6px;
                        }
                    }
                }
            }
        } 

        #autocomplete {
            width: 22em;
            ul {
                width: 21em;
            }
        }
    }

    .lt-ie9 {
        .headline {
            li {
                &.star {
                    span {
                        &.icon {
                            background: url('../images/icons/starBigx1.png') no-repeat;
                        }                           
                    }   
                }
            }      
        }

        .search-hotels {
            .search-container {
                .destination {
                    width: 24%;
                }
                .date {
                    width: 20%;
                }
                .children {
                    width: 11.5%;
                }
            }
        }
    }

   .lt-ie9, .lt-ie10 {
        .search-hotels {
            .search-container {
                select {
                    padding-bottom: 12px;
                }
            }
        }
    }

}
