.footer {
	background: $dark-purple;

	h2, .regions, .subregions, .languages, hr {
		display: none;
	}

	h2 {
		color: $white;
	}

	span.copy {
		color: $light-purple;
	}	
}

@include respond-min($small) {

	.footer {
		/* Hardware Acceleration */
		-webkit-transform: translateZ(0);
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;

		h2 {
			display: block;
		}

		ul.regions {
			display: block;
			width: auto;
			margin: 0.625em 0 0 0;
			@include border-radius(5px);
			display: block;
			white-space: normal;
			@include clearfix;

			li {
				background: #109bd7 url(../images/icons/arrow-rightx1.png) 10px 9px no-repeat;
				display: inline-block;
				font-size: 0.9em;
				white-space: nowrap;
				line-height: 3em;
				padding: 0 0.8em 0 2.4em;
				position: relative;
				margin-left: -5px;
				cursor: pointer;

				&.active {
					background: $darker-purple url(../images/icons/arrow-downx1.png) 7px 14px no-repeat;

					&:after {
						content: none;
					}
				}

				&:after {
					content: "";
					height: 15px;
					width: 1px;
					position: absolute;
					left: -1px;
					top: 10px;					
					border-right: 1px dotted #fff;					
				}

				&:last-child {
					border-right: none;
					-webkit-border-radius: 0 5px 5px 0;
				}


				&:first-child {
					-webkit-border-radius: 5px 0 0 5px;

					&:after {
						content: none;
					}
				}

				&.hideLine:after {
					content: none;
				}
			}
		}

		ul.subregions {
			font-size: 0.9em;
			font-weight: $bold;
			display: none;
			width: 100%;
			overflow: hidden;
			height: auto;
			white-space: normal;
			list-style-type: none;
			background: $darker-purple;
			padding: 1em 0 0 1.1em;
			margin-left: -4px;			

			&.active {
				display: block;
			}

			li {
				display: inline-block;
				margin-right: 1.2em;
				margin-bottom: 1em;
				white-space: nowrap;

				a {
					color: $light-blue;
				}
			}
		}		

		hr {
			display: block;
			width: 100%;
			height: 1px;
			border: none;
			border-bottom: 1px dotted #fff;
			background: transparent;
			padding-top: 2.2em;
			clear: both;
		}

		ul.languages {
			display: block;
			width: auto;
			height: 2.68em;
			padding: 0.625em;
			white-space: normal;

			li {
				display: inline-block;
				margin-right: 0.125em;
				white-space: nowrap;


				&:after {
					content: "|";
					color: $light-purple;
					margin-left: 0.31em;
				}

				&:last-child {
					margin-right: 0;

					&:after {
						display: none;
					}
				}

				&:first-child {
					color: $light-purple;
					
					&:after {
						display: none;
					}				
				}
			}
		}

	}


	.lt-ie8 {
		.footer {
			ul {
				&.regions {
					height: 2.4em;
					margin-bottom: 1em;
				}

				&.subregions{
					margin-top: -12px;
				}
			}

			ul.languages {
				li {
					padding-right: 1em;
				}
			}
		}          
	}	
}
