.whats-new {
    @include clearfix;
    margin-top: .8em;
    .story {
        @include clearfix;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: .8em;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@include respond-min($x-small) {
    .whats-new {
        margin-left: -.4em;
        margin-right: -.4em;
        margin-bottom: 1em;
        .story {
            width: 50%;
            float: left;
            padding: 0 .4em;
            @include ie-boxsizing-fix;
        }
    }
}