.search-hotels {
    background: transparent url(../images/bg_asiarooms.jpg) top left no-repeat;
    background-size: cover; 

	.search-container {
		margin-top: 0px;
	}    

    .search-container-wrapper {
        @include clearfix;
        background: $maroon;
        height: 66px;
        overflow: hidden;

        div {
            float: left;
            width: 100%;
        }

    }

}

@include respond-min($small) {
	.headline {
        @include background-opacity($navy, 0.9);
        padding: 0.35em;

		li {
			&.hotel {

			}

		}
	}

	.search-container {
	    background: $maroon;
	}		
}

@include respond-min($medium) {

    .search-hotels {
        font-size: 1em;

        .headline {
            margin:2.6em 0 0 0;
        }

    }
}
