.social-media {
	margin: 0.6em 0 0 .8em;
	@include clearfix;
	float: left;
	clear: both;
	ul {
		@include clearfix;
		margin-bottom: 5px;
		float: left;
		margin: 0 10px 0 0;
	}
	li {
		float: left;
		margin-right: 7px;
	}
	.fb-likes, .g-likes {
		display: none;
		margin-right: 0px;
		padding: .5em .0em 0 .4em;
	}
	display: none;
}

.social-media-footer {
	margin: 0;
	@include clearfix;
	float: left;
	clear: both;
	li {
		float: left;
		margin-right: 7px;
	}
}

@include respond-min($small) {
	.social-media-footer {
		display: none;
	}
	.social-media {
		clear: none;
		display: block;
	}

}

@include respond-min($medium) {
	.social-media {
		margin-left: 1em;
		.fb-likes, .g-likes {
			display: block;
		}
	}
}


