/* 768px */
/* 992px */
/* 1200px */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fbfbfb;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }


img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, input {
  line-height: 1.2;
  font-size: 16px;
  font-family: 'Lato', 'Arial', sans-serif; }

pre, code, kbd, tt {
  font: 1em/1.4 Monaco, Courier, monospace; }

p, ul, ol, dl, dd, pre, table {
  margin-bottom: 1em; }

a {
  text-decoration: none; }

a:active, a:hover {
  text-decoration: underline; }

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.25em;
  margin-bottom: 0.8em; }

h4 {
  font-size: 1em;
  margin-bottom: 1em; }

h5 {
  font-size: 0.8em;
  margin-bottom: 1.25em; }

h6 {
  font-size: 0.667em;
  margin-bottom: 1.5em; }

ul {
  list-style: none; }

ol {
  list-style: decimal;
  margin-left: 1.5em; }

.btn-secondary {
  font-weight: normal;
  font-size: 1.25em;
  border: 0 !important;
  padding: 8px 25px;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  cursor: pointer;
  color: #fff; }
  .btn-secondary:hover {
    text-decoration: none; }

.btn-tertiary {
  font-weight: 300;
  padding: 8px 25px;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  cursor: pointer; }
  .btn-tertiary:hover {
    text-decoration: none; }

.btn-primary {
  border: 0 !important;
  padding: 11px;
  font-size: 1em;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  cursor: pointer; }
  .btn-primary:hover {
    text-decoration: none; }

.datepicker {
  top: 7px !important;
  background-color: #fff;
  border: 1px solid #bab9c7;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  background-clip: padding-box;
  z-index: 10;
  position: absolute; }

.datepicker-placeholder .datepicker.dropdown-menu {
  width: 100%;
  margin-top: 45px; }
  .datepicker-placeholder .datepicker.dropdown-menu .table-condensed {
    width: 100%; }
  .datepicker-placeholder .datepicker.dropdown-menu .datepicker-switch {
    font-size: 18px;
    padding: 12px 0px; }
  .datepicker-placeholder .datepicker.dropdown-menu .datepicker-days tr td {
    cursor: pointer;
    padding: 10px 12px;
    border-left: 1px dashed #ddd; }
    .datepicker-placeholder .datepicker.dropdown-menu .datepicker-days tr td:first-child {
      border: none; }
    .datepicker-placeholder .datepicker.dropdown-menu .datepicker-days tr td.active {
      background: #411085;
      color: #fff; }

.datepicker td, .datepicker th {
  text-align: center; }

.datepicker td:hover {
  background: #bab9c7; }

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover, .datepicker table tr td.new, .datepicker table tr td.old {
  background: none;
  color: #bab9c7;
  cursor: default !important; }

@media screen and (min-width: 48em) {
  .datepicker-placeholder .datepicker.dropdown-menu {
    width: auto; }
    .datepicker-placeholder .datepicker.dropdown-menu .datepicker-days tr td.active {
      -webkit-border-radius: 25px;
      border-radius: 25px;
      background-clip: padding-box; } }

@media screen and (min-width: 62em) {
  .datepicker-placeholder .datepicker.dropdown-menu {
    width: auto; } }

input, select {
  width: 100%;
  border: 0;
  background: white;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  background-clip: padding-box;
  appearance: initial;
  -moz-appearance: initial;
  -webkit-appearance: initial;
  text-indent: 0.01px;
  text-overflow: '';
  border: 1px solid #bab9c7;
  vertical-align: text-bottom; }

select {
  padding: 0 0 0 0.8em;
  height: 2.85em;
  background-size: 6px 10px; }

select::-ms-expand {
  display: none; }

input {
  padding: 0.8em 0 0.8em 0.8em;
  height: 2.85em; }

.select-icon {
  background: transparent url(../images/icons/updownarrowsx2.png) top left no-repeat;
  background-size: 6px 10px;
  position: absolute;
  top: 1.14em;
  right: 0.75em;
  z-index: 2;
  height: 10px;
  width: 6px !important; }

@-moz-document url-prefix() {
  select {
    padding-top: 0.7em; }

  .select-icon {
    top: 1.16em; } }

.lt-ie9 select, .lt-ie10 select {
  padding: 0.75em 0 0 0.8em; }
.lt-ie9 .select-icon, .lt-ie10 .select-icon {
  display: none; }

/*
* SimpleModal Basic Modal Dialog
* http://simplemodal.com
*
* Copyright (c) 2013 Eric Martin - http://ericmmartin.com
*
* Licensed under the MIT license:
*   http://www.opensource.org/licenses/mit-license.php
*/
#basic-modal-content {
  display: none; }

#simplemodal-overlay {
  background-color: #000; }

#simplemodal-container {
  min-height: 170px;
  width: 300px;
  background-color: #fff;
  border: 5px solid #411085;
  padding: 12px; }
  #simplemodal-container .simplemodal-data {
    padding: 8px; }
  #simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color: #bbb;
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    padding: 4px 6px 6px; }
  #simplemodal-container a {
    color: #ddd; }
    #simplemodal-container a.modalCloseImg {
      background: url(../images/icons/close-icon.png) no-repeat;
      width: 30px;
      height: 30px;
      display: inline;
      z-index: 3200;
      position: absolute;
      top: -15px;
      right: -16px;
      cursor: pointer; }
  #simplemodal-container h3 {
    color: #411085;
    margin: 0em; }

.lt-ie7 #simplemodal-container a.modalCloseImg {
  display: none;
  background: none;
  right: -14px;
  width: 22px;
  height: 26px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/icons/close-icon.png',sizingMethod='scale'); }

@media screen and (min-width: 48em) {
  #simplemodal-container {
    min-height: 120px;
    width: 600px; }
    #simplemodal-container a {
      color: #ddd; } }

.destinations {
  clear: both; }
  .destinations h2 {
    display: none; }
  .destinations .destinations-wrap {
    zoom: 1; }
    .destinations .destinations-wrap:before, .destinations .destinations-wrap:after {
      content: "";
      display: table; }
    .destinations .destinations-wrap:after {
      clear: both; }
  .destinations img {
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-clip: padding-box; }
  .destinations a {
    display: block;
    line-height: 0;
    text-decoration: none; }
  .destinations .destination {
    margin-bottom: 0.8em;
    position: relative;
    width: 100%; }

@media screen and (min-width: 30em) {
  .destinations {
    margin-left: -0.4em;
    margin-right: -0.4em; }
    .destinations .destination {
      width: 50%;
      float: left;
      margin-bottom: 0.8em;
      padding: 0 0.4em; }
    .destinations a {
      zoom: 1;
      position: relative; }
      .destinations a:before, .destinations a:after {
        content: "";
        display: table; }
      .destinations a:after {
        clear: both; }
    .destinations img {
      width: 100%;
      float: left; } }

@media screen and (min-width: 62em) {
  .destinations {
    margin-left: -0.4em;
    margin-right: -0.4em; }
    .destinations h2 {
      display: block;
      padding-left: 0.2em; }
    .destinations .destination {
      width: 33.333%;
      float: left;
      margin-bottom: 1.5%;
      padding: 0 0.4em; }
    .destinations a {
      zoom: 1;
      position: relative; }
      .destinations a:before, .destinations a:after {
        content: "";
        display: table; }
      .destinations a:after {
        clear: both; }
    .destinations img {
      width: 100%;
      float: left; } }

.email-deals {
  font-size: 0.9em;
  margin: 0;
  padding-left: 0.8em;
  margin-right: 0.7em;
  position: relative;
  display: none; }
  .email-deals h2 span {
    font-style: italic; }
  .email-deals input {
    width: 65%;
    float: left; }
  .email-deals form {
    zoom: 1; }
    .email-deals form:before, .email-deals form:after {
      content: "";
      display: table; }
    .email-deals form:after {
      clear: both; }
  .email-deals .btn-secondary {
    margin-left: 0.8em;
    padding: 0 10px;
    height: 41px; }

.email-deals-error-msg {
  display: none; }

@media screen and (min-width: 48em) {
  .email-deals {
    display: block;
    width: 72%;
    margin-top: 0.7em;
    margin-right: 0;
    float: left; }
    .email-deals h2 {
      float: left;
      margin: 0.2em 0.5em 0.83em 0; }
    .email-deals input[type='text'], .email-deals input[type='email'] {
      width: 39%;
      float: left; }
    .email-deals .btn-secondary {
      max-width: 20%;
      float: left; } }

@media screen and (min-width: 62em) {
  .email-deals {
    width: 64%; }
    .email-deals input[type='text'], .email-deals input[type='email'] {
      width: 41%; } }

.email-deals {
  zoom: 1; }
  .email-deals:before, .email-deals:after {
    content: "";
    display: table; }
  .email-deals:after {
    clear: both; }
  .email-deals h2 span {
    color: #a8005f; }
  .email-deals .btn-secondary {
    color: #fff; }

.lt-ie9 input[type='email'] {
  padding: 0.6em 0.8em 0 0.8em; }

.lt-ie8 input.email-field {
  padding: 0.6em 0.8em 0 0.8em;
  height: 2.1em; }

.footer ul.links {
  display: none; }
.footer span.copy {
  display: block;
  margin-left: 0.625em;
  margin-top: 0.625em; }

@media screen and (min-width: 48em) {
  .footer {
    color: #fff;
    font-size: 0.875em;
    position: relative; }
    .footer ul.links {
      padding: 1em 0.625em 0.625em 0.625em;
      display: block;
      width: 100%;
      height: auto; }
      .footer ul.links li {
        white-space: nowrap;
        display: inline-block;
        margin: 0 1.12em 0.6em 0; }
  .lt-ie8 .footer ul li {
    *display: inline;
    zoom: 1; } }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, input {
  font: 100%/1.5 "Lato", Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  background: #f9f8f6; }

input {
  font-weight: normal; }

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  font-weight: 800;
  color: #411085; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    margin: 0;
    padding: 0; }

a {
  color: white;
  text-decoration: none; }

.main {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }
  .main.active {
    -ms-transform: translateX(11em);
    -webkit-transform: translateX(11em);
    transform: translateX(11em); }

.container {
  margin: 0 auto;
  padding: 15px;
  height: 100%; }

.header {
  width: 100%;
  background: #411085;
  zoom: 1; }
  .header:before, .header:after {
    content: "";
    display: table; }
  .header:after {
    clear: both; }
  .header .container {
    padding: 0; }
  .header .menu {
    width: 31px;
    height: 26px;
    text-decoration: none;
    float: left;
    background: url('../images/icons/menux2.png');
    background-size: 31px 26px;
    margin: 0.8em 0 0 1.4em; }
  .header h1 {
    font-size: 16px;
    margin: 1em 0 0.7em 1em;
    padding: 0;
    float: left; }

.footer {
  width: 100%;
  overflow: auto; }

.container {
  zoom: 1; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 0.4em; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row-wrap {
  zoom: 1;
  border-bottom: 1px solid red; }
  .row-wrap:before, .row-wrap:after {
    content: "";
    display: table; }
  .row-wrap:after {
    clear: both; }

.hidden {
  visibility: hidden; }

.cookie-msg {
  zoom: 1;
  background: #bab9c7;
  padding: 0.1em 2em 0 0.8em; }
  .cookie-msg:before, .cookie-msg:after {
    content: "";
    display: table; }
  .cookie-msg:after {
    clear: both; }
  .cookie-msg.hidden {
    display: none; }
  .cookie-msg .container {
    position: relative;
    padding: 0 3em 0 1.4em; }
  .cookie-msg a {
    color: #000; }
  .cookie-msg .cookie-close {
    position: absolute;
    top: 0.8em;
    right: 0.8em; }
  .cookie-msg .cookie-info {
    text-decoration: underline; }

.home-text {
  padding-left: 1em; }
  .home-text li {
    padding: 0em 0em 0.2em 1.2em;
    font-size: 1.1em;
    white-space: nowrap; }

@media screen and (min-width: 30em) {
  .home-text {
    margin-bottom: 0.4em; }
    .home-text li {
      float: left;
      margin-right: 1.2em; }
      .home-text li:last-child {
        display: none; } }

@media screen and (min-width: 48em) {
  .home-text li:last-child {
    display: block; } }

@media screen and (min-width: 62em) {
  .main.active {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .header h1 {
    margin: 2.6em 0 0 1em; }
  .home-text {
    zoom: 1;
    display: block;
    float: right;
    margin-top: 0.4em;
    padding-left: 1em; }
    .home-text:before, .home-text:after {
      content: "";
      display: table; }
    .home-text:after {
      clear: both; }
    .home-text li {
      padding: 0em 0em 0.2em 1.2em;
      font-size: 1.2em;
      vertical-align: baseline;
      float: none; }
      .home-text li:last-child {
        display: block; }
  .container {
    width: 990px; } }

@media screen and (min-width: 75em) { }

.main-nav {
  white-space: nowrap;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -11em;
  background: #0a0545;
  height: 100%;
  width: 11em;
  padding-top: 1em;
  overflow: hidden;
  /* Hardware Acceleration  Samsung galaxy tab rendering issue*/
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }
  .main-nav > ul {
    margin-top: 245px; }
    .main-nav > ul > li:first-child {
      position: absolute;
      top: 5px; }
      .main-nav > ul > li:first-child a {
        color: #fff; }
        .main-nav > ul > li:first-child a:hover {
          color: #ffcd1b; }
  .main-nav.active > ul {
    margin-top: 475px; }
  .main-nav .dd {
    border: 0;
    color: #e7e7ed;
    position: relative; }
    .main-nav .dd:before {
      content: "";
      display: block;
      position: absolute;
      width: 9em;
      left: 0.5em;
      top: 0;
      border-top: 1px dotted #e7e7ed; }
    .main-nav .dd:last-child {
      padding-top: 0; }
      .main-nav .dd:last-child:before {
        top: -1em; }
    .main-nav .dd > a {
      color: #fff; }
      .main-nav .dd > a:hover {
        color: #fff;
        text-decoration: none; }
    .main-nav .dd li {
      display: block;
      padding: 0.2em 0 1em 0.6em;
      font-size: 1em; }
      .main-nav .dd li > a {
        display: inline-block; }
      .main-nav .dd li:first-child {
        padding-top: 1em; }
  .main-nav li {
    padding: 1em 0 1em 0.9em;
    font-size: 1.05em; }
  .main-nav a {
    color: #fff; }
    .main-nav a:hover, .main-nav a.selected {
      color: #ffcd1b; }
  .main-nav .user-nav {
    color: #ffcd1b;
    margin-top: 1em;
    display: block; }
    .main-nav .user-nav li {
      width: 10em;
      padding: 0.6em 1em; }

ul.other-services li:nth-child(2) {
  white-space: pre-line; }

@media screen and (min-width: 62em) {
  .main-nav {
    overflow: visible;
    top: 0;
    left: 0;
    background: #411085;
    height: auto;
    width: auto;
    padding-top: 0;
    position: relative;
    float: right;
    margin: 0.5em 0 0 0;
    zoom: 1;
    /* reset */
    -webkit-transform: none;
    -webkit-perspective: none;
    -webkit-backface-visibility: visible; }
    .main-nav:before, .main-nav:after {
      content: "";
      display: table; }
    .main-nav:after {
      clear: both; }
    .main-nav > ul {
      margin-top: 0; }
      .main-nav > ul > li:first-child {
        position: static; }
        .main-nav > ul > li:first-child a {
          color: #fff; }
          .main-nav > ul > li:first-child a:hover {
            color: #fff; }
    .main-nav.active > ul {
      margin-top: 0; }
    .main-nav .dd {
      background: transparent url(../images/nav-arrow-white.png) 100% 39% no-repeat;
      padding-right: 0.9em;
      margin-right: 0.6em;
      padding-left: 0.9em;
      border: none;
      color: #fff;
      position: relative; }
      .main-nav .dd:before {
        content: none; }
      .main-nav .dd > a {
        display: block; }
      .main-nav .dd:last-child {
        padding-top: 0.2em; }
    .main-nav li {
      color: #fff;
      white-space: nowrap;
      float: left;
      padding: 0.2em 0.6em 0.6em 0.8em;
      border: 0;
      position: relative; }
      .main-nav li a {
        padding: 0; }
        .main-nav li a:hover, .main-nav li a.selected {
          color: #fff; }
      .main-nav li:after {
        content: "|";
        color: #fff;
        /* The Fallback */
        color: rgba(255, 255, 255, 0.4);
        display: inline-block;
        height: 30px;
        z-index: 10;
        width: 1px;
        position: absolute;
        left: 0;
        top: 0.1em; }
      .main-nav li:first-child:after {
        content: ""; }
      .main-nav li.active ul {
        display: block; }
        .main-nav li.active ul li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding: 0.6em 0 0.7em 0; }
          .main-nav li.active ul li:last-child {
            border: 0; }
      .main-nav li ul {
        display: none;
        position: absolute;
        z-index: 100;
        width: 17em;
        padding: 1em 1em 0.3em 0.8em;
        background: #411085;
        /* The Fallback */
        background: rgba(65, 16, 133, 0.8);
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        background-clip: padding-box;
        max-height: 300px;
        right: 0em; }
        .main-nav li ul.about-us {
          width: 12em; }
        .main-nav li ul li {
          float: none; }
          .main-nav li ul li:after {
            content: ""; }
    .main-nav .user-nav {
      display: none; }
  .no-touch .main-nav li:hover {
    cursor: pointer; }
    .no-touch .main-nav li:hover a:hover {
      text-decoration: underline; }
    .no-touch .main-nav li:hover ul {
      display: block; }
      .no-touch .main-nav li:hover ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0.6em 0 0.7em 0; }
        .no-touch .main-nav li:hover ul li:last-child {
          border: 0; }
  .lt-ie8 .main-nav {
    clear: both;
    width: 730px;
    z-index: 9; }
    .lt-ie8 .main-nav li {
      text-decoration: none !important; }
      .lt-ie8 .main-nav li ul {
        top: 28px; }
  .lt-ie8 .search-hotels {
    z-index: 8; } }

.whats-new {
  zoom: 1;
  margin-top: 0.8em; }
  .whats-new:before, .whats-new:after {
    content: "";
    display: table; }
  .whats-new:after {
    clear: both; }
  .whats-new .story {
    zoom: 1;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0.8em; }
    .whats-new .story:before, .whats-new .story:after {
      content: "";
      display: table; }
    .whats-new .story:after {
      clear: both; }
    .whats-new .story img {
      width: 100%;
      height: auto; }

@media screen and (min-width: 30em) {
  .whats-new {
    margin-left: -0.4em;
    margin-right: -0.4em;
    margin-bottom: 1em; }
    .whats-new .story {
      width: 50%;
      float: left;
      padding: 0 0.4em;
      *behavior: url(scripts/plugins/boxsizing.htc); } }

.partner-brands {
  display: none;
  padding: 0 0 1em 0; }
  .partner-brands ul {
    zoom: 1; }
    .partner-brands ul:before, .partner-brands ul:after {
      content: "";
      display: table; }
    .partner-brands ul:after {
      clear: both; }
  .partner-brands li {
    float: left;
    margin: 0 5px 10px 0;
    background-color: #fff;
    border: 1px solid #e7e7ed;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    text-align: center;
    width: 100px;
    height: 100px; }
    .partner-brands li.last-child {
      margin: 0 0 10px 0; }
  .partner-brands .partner-brand-devere {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px -300px;
    width: 100px;
    height: 100px; }
  .partner-brands .partner-brand-qhotels {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px -1100px;
    width: 100px;
    height: 100px; }
  .partner-brands .partner-brand-macdonald {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px 0px;
    width: 100px;
    height: 100px; }
  .partner-brands .partner-brand-hilton {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px -500px;
    width: 100px;
    height: 100px; }
  .partner-brands .partner-brand-mercure {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px -700px;
    width: 100px;
    height: 100px; }
  .partner-brands .partner-brand-village {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px -400px;
    width: 100px;
    height: 100px; }
  .partner-brands .partner-brand-nhhotels {
    background-image: url(../images/partner-brands/partner-brands.png);
    background-position: 0px -800px;
    width: 100px;
    height: 100px; }
  .partner-brands a {
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%; }

@media screen and (min-width: 62em) {
  .partner-brands {
    border-top: 1px dotted #7b3ac4;
    display: block; } }

.children, .adults, .days, .date {
  position: relative; }

.date .select-icon {
  right: 2.6em; }

.adults .select-icon {
  right: 1.2em; }

.validation-error-msg {
  display: none; }

.search-hotels {
  position: relative; }
  .search-hotels h1, .search-hotels .headline, .search-hotels p {
    display: none; }
  .search-hotels h1 {
    margin-top: 0.3em; }
  .search-hotels input[type='submit'] {
    font-weight: 700;
    padding: 9px; }
  .search-hotels input, .search-hotels select {
    margin-bottom: 0.8em; }
  .search-hotels .search-container {
    padding: 12px 0 12px 0;
    position: relative;
    margin: 0;
    z-index: 1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box; }
    .search-hotels .search-container .adults {
      padding-right: 0.4em;
      width: 50%; }
    .search-hotels .search-container .children {
      padding-left: 0.4em;
      width: 50%; }
    .search-hotels .search-container .days {
      width: 100%; }
      .search-hotels .search-container .days select {
        background-position: 97% 51%; }
    .search-hotels .search-container .date {
      position: relative; }
      .search-hotels .search-container .date .cal-icon {
        width: 28px;
        height: 32px;
        background: transparent url(../images/icons/calendarx2.png) 0% 47% no-repeat;
        background-size: 22px 20px;
        position: absolute;
        top: 0.4em;
        right: 0.45em;
        z-index: 2; }
  .search-hotels #autocomplete {
    height: auto;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid #bab9c7;
    margin: -0.8em 0 0.8em; }
    .search-hotels #autocomplete ul li {
      padding: 10px;
      border-bottom: 1px solid #bab9c7;
      position: relative;
      height: auto;
      width: 100%;
      display: block;
      float: left; }
      .search-hotels #autocomplete ul li span.location {
        display: block;
        width: 67%;
        float: left; }
      .search-hotels #autocomplete ul li span.available-result-count {
        display: block;
        vertical-align: middle;
        width: 33%;
        float: right;
        text-align: right; }
      .search-hotels #autocomplete ul li span {
        font-weight: bold; }
    .search-hotels #autocomplete ul li:hover {
      background: #411085;
      color: #fff; }

.lt-ie10 .cal-icon {
  right: 1.1em !important; }

@media screen and (min-width: 48em) {
  .search-hotels {
    background-position: top center;
    background-size: 1200px 524px;
    height: 24.6em;
    font-size: 0.9em; }
    .search-hotels a:hover {
      text-decoration: none; }
    .search-hotels #autocomplete {
      width: 21em;
      margin: 0; }
    .search-hotels .search-container {
      margin-top: 70px; }
      .search-hotels .search-container .days select {
        background-position: 93% 51%; }
    .search-hotels .date .select-icon {
      right: 2.13em; }
    .search-hotels .adults .select-icon {
      right: 0.6em; }
    .search-hotels input, .search-hotels select {
      margin-bottom: 0; }
    .search-hotels h1 {
      display: block;
      visibility: hidden; }
    .search-hotels .headline {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      width: auto;
      height: auto;
      margin: 2.9em 0 0 0;
      white-space: nowrap;
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box; }
      .search-hotels .headline li {
        margin: 0;
        padding: 0; }
        .search-hotels .headline li.hotel {
          font-size: 40px; }
        .search-hotels .headline li.from {
          font-size: 24px; }
        .search-hotels .headline li.price {
          font-weight: 700;
          font-style: italic;
          font-size: 40px;
          margin-left: 5px; }
    .search-hotels .search-container {
      height: 4.3em; }
      .search-hotels .search-container div {
        margin-right: 1%; }
      .search-hotels .search-container p {
        float: left;
        display: block;
        line-height: 1.2em;
        padding: 0;
        margin: 2px 2% 0 0;
        width: 4%; }
      .search-hotels .search-container .destination {
        width: 14.5%;
        margin-left: 1%; }
      .search-hotels .search-container .date {
        width: 23%; }
        .search-hotels .search-container .date select {
          background-position: 80% 51%; }
        .search-hotels .search-container .date .cal-icon {
          right: 0em;
          background-position: 0% 37%;
          cursor: pointer; }
      .search-hotels .search-container .days {
        width: 13%; }
      .search-hotels .search-container .adults {
        width: 12%;
        padding: 0; }
      .search-hotels .search-container .children {
        width: 13.5%;
        padding: 0; }
      .search-hotels .search-container .search {
        width: 11%; }
  .lt-ie9 .search-hotels .search-container, .lt-ie10 .search-hotels .search-container {
    background: white; }
    .lt-ie9 .search-hotels .search-container .date .cal-icon, .lt-ie10 .search-hotels .search-container .date .cal-icon {
      background: url(../images/icons/calendarx1.png) no-repeat;
      top: 0.8em;
      right: 1em; }
  .lt-ie9 .search-hotels .headline, .lt-ie10 .search-hotels .headline {
    width: 11em; }
  .lt-ie9 .search-hotels .select-icon, .lt-ie10 .search-hotels .select-icon {
    display: none; }
  .lt-ie9 .search-hotels select, .lt-ie9 .search-hotels input[type="text"], .lt-ie10 .search-hotels select, .lt-ie10 .search-hotels input[type="text"] {
    padding-bottom: 10px; }
  .lt-ie9 .search-hotels input[type="text"], .lt-ie10 .search-hotels input[type="text"] {
    padding: 0.6em 0.8em 0 0.8em; }
  .lt-ie10 .search-hotels .search-container input[type="text"] {
    padding: 0.1em 0.8em 0 0.8em; }
  .lt-ie10 .search-hotels .search-container .destination {
    width: 14%; }
  .lt-ie10 .search-hotels .search-container .date {
    width: 22.5%; }
  .lt-ie10 .search-hotels .search-container .days {
    width: 13.5%; }
  .lt-ie10 .search-hotels .search-container .children {
    width: 14%; } }

@media screen and (min-width: 56em) {
  .search-hotels .search-container .destination {
    width: 24%; }
  .search-hotels .search-container .date {
    width: 19.5%; }
    .search-hotels .search-container .date select {
      background-position: 80% 51%; }
    .search-hotels .search-container .date .cal-icon {
      right: 0em;
      background-position: 0% 37%; }
  .search-hotels .search-container .days {
    width: 11%; }
  .search-hotels .search-container .adults {
    width: 10%; }
  .search-hotels .search-container .children {
    width: 11.5%; }
  .search-hotels .search-container .search {
    width: 11%; }
  .lt-ie10 .search-hotels .search-container .destination {
    width: 22.5%; }
  .lt-ie10 .search-hotels .search-container .date {
    width: 19.5%; }
  .lt-ie10 .search-hotels .search-container .days {
    width: 11.5%; }
  .lt-ie10 .search-hotels .search-container .adults {
    width: 10.5%; }
  .lt-ie10 .search-hotels .search-container .children {
    width: 12%; } }

@media screen and (min-width: 62em) {
  .search-hotels {
    font-size: 1em; }
    .search-hotels .search-container p {
      margin: 2px 1.5% 0 0; }
    .search-hotels .search-container .destination {
      width: 23.5%; }
    .search-hotels .search-container .date {
      width: 20%; }
    .search-hotels .search-container .days {
      width: 11%; }
    .search-hotels .search-container .adults {
      width: 10%; }
    .search-hotels .search-container .children {
      width: 12%; }
    .search-hotels .search-container .date .cal-icon {
      background-position: 0% 54%; }
  .lt-ie8 .search-hotels .search-container {
    padding: 20px 0 0 0;
    height: 45px; }
    .lt-ie8 .search-hotels .search-container .destination {
      max-width: 200px;
      padding-left: 8px; }
    .lt-ie8 .search-hotels .search-container p {
      line-height: 1.1em;
      margin-top: -5px;
      padding: 0 10px 0 10px; }
    .lt-ie8 .search-hotels .search-container .date .cal-icon {
      top: 0.1em; }
    .lt-ie8 .search-hotels .search-container input[type="text"] {
      padding: 0;
      height: 21px; }
    .lt-ie8 .search-hotels .search-container input[type="submit"] {
      font-weight: 700;
      height: 24px;
      line-height: 0.5em; }
  .lt-ie8 .search-hotels .headline {
    width: 400px;
    height: 50px;
    overflow: hidden;
    margin-top: 230px; }
    .lt-ie8 .search-hotels .headline li {
      *display: inline;
      zoom: 1; }
      .lt-ie8 .search-hotels .headline li.star {
        padding-left: 5px; }
        .lt-ie8 .search-hotels .headline li.star span.icon {
          top: -5px;
          padding-right: 6px; }
  .lt-ie8 #autocomplete {
    width: 22em; }
    .lt-ie8 #autocomplete ul {
      width: 21em; }
  .lt-ie9 .headline li.star span.icon {
    background: url('../images/icons/starBigx1.png') no-repeat; }
  .lt-ie9 .search-hotels .search-container .destination {
    width: 24%; }
  .lt-ie9 .search-hotels .search-container .date {
    width: 20%; }
  .lt-ie9 .search-hotels .search-container .children {
    width: 11.5%; }
  .lt-ie9 .search-hotels .search-container select, .lt-ie10 .search-hotels .search-container select {
    padding-bottom: 12px; } }

.social-media {
  margin: 0.6em 0 0 0.8em;
  zoom: 1;
  float: left;
  clear: both;
  display: none; }
  .social-media:before, .social-media:after {
    content: "";
    display: table; }
  .social-media:after {
    clear: both; }
  .social-media ul {
    zoom: 1;
    margin-bottom: 5px;
    float: left;
    margin: 0 10px 0 0; }
    .social-media ul:before, .social-media ul:after {
      content: "";
      display: table; }
    .social-media ul:after {
      clear: both; }
  .social-media li {
    float: left;
    margin-right: 7px; }
  .social-media .fb-likes, .social-media .g-likes {
    display: none;
    margin-right: 0px;
    padding: 0.5em 0em 0 0.4em; }

.social-media-footer {
  margin: 0;
  zoom: 1;
  float: left;
  clear: both; }
  .social-media-footer:before, .social-media-footer:after {
    content: "";
    display: table; }
  .social-media-footer:after {
    clear: both; }
  .social-media-footer li {
    float: left;
    margin-right: 7px; }

@media screen and (min-width: 48em) {
  .social-media-footer {
    display: none; }
  .social-media {
    clear: none;
    display: block; } }

@media screen and (min-width: 62em) {
  .social-media {
    margin-left: 1em; }
    .social-media .fb-likes, .social-media .g-likes {
      display: block; } }

.user-nav {
  display: block;
  height: 255px;
  /* em */
  width: 11em;
  position: absolute;
  top: 50px;
  left: -11em;
  z-index: 3;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }
  .user-nav.active {
    height: 485px; }
  .user-nav > ul {
    background: #140253; }
    .user-nav > ul > li {
      padding: 1em 0 1em 1em;
      color: #ffcd1b;
      position: relative;
      z-index: 4;
      /* right slash between MyAccount and Register */ }
      .user-nav > ul > li a {
        color: #ffcd1b; }
      .user-nav > ul > li:nth-child(1) {
        margin-top: 0.5em; }
        .user-nav > ul > li:nth-child(1) a:nth-child(1) {
          display: block;
          margin-bottom: 1.8em; }
        .user-nav > ul > li:nth-child(1) a:nth-child(3) {
          display: block; }
      .user-nav > ul > li:nth-child(2):before, .user-nav > ul > li:first-child:before {
        content: "";
        display: block;
        position: absolute;
        width: 9em;
        height: 1px;
        left: 0.5em;
        bottom: 0;
        border-top: 1px dotted #e7e7ed; }
      .user-nav > ul > li:first-child:before {
        top: 0em; }
      .user-nav > ul > li:nth-child(1) span {
        display: none; }
  .user-nav .dd {
    background: transparent url(../images/nav-arrow-yellow.png) no-repeat;
    background-position: 50% 54%;
    padding-right: 0.9em; }
    .user-nav .dd.locale ul {
      overflow: hidden; }
    .user-nav .dd.active {
      background-position: 50% 8.5%; }
      .user-nav .dd.active > ul {
        display: block; }
    .user-nav .dd ul {
      display: none;
      height: 230px;
      width: 160px;
      position: relative;
      top: 13px;
      overflow-x: hidden;
      overflow: scroll;
      -webkit-overflow-scrolling: touch; }
      .user-nav .dd ul.currency {
        overflow-x: hidden; }
      .user-nav .dd ul li {
        padding: 0.8em 0.3em 0.8em 0.6em; }
        .user-nav .dd ul li a {
          color: #fff; }

@media screen and (min-width: 62em) {
  /* Hover interaction for desktop only */
  .menu {
    display: none; }
  .user-nav {
    position: static;
    display: block;
    width: auto;
    height: 19px;
    float: right;
    zoom: 1;
    margin-top: 0.9em;
    background: none;
    overflow: visible;
    /* reset */
    -webkit-transform: none;
    -webkit-perspective: none;
    -webkit-backface-visibility: visible; }
    .user-nav:before, .user-nav:after {
      content: "";
      display: table; }
    .user-nav:after {
      clear: both; }
    .user-nav.active {
      height: 19px; }
    .user-nav > ul > li {
      float: left;
      position: relative;
      border: none;
      white-space: nowrap;
      padding: 0 0.7em 0 0.8em; }
      .user-nav > ul > li:nth-child(1) {
        margin-top: 0; }
        .user-nav > ul > li:nth-child(1) a:nth-child(1), .user-nav > ul > li:nth-child(1) a:nth-child(3) {
          display: inline;
          border: 0;
          padding: 0; }
      .user-nav > ul > li:nth-child(1) span {
        display: inline; }
      .user-nav > ul > li:nth-child(2):before, .user-nav > ul > li:first-child:before {
        content: none; }
      .user-nav > ul > li:after {
        content: "|";
        color: #fff;
        /* The Fallback */
        color: rgba(255, 255, 255, 0.4);
        height: 30px;
        z-index: 10;
        left: 0;
        position: absolute;
        top: 0em; }
      .user-nav > ul > li:first-child:after {
        content: ""; }
      .user-nav > ul > li.locale ul {
        overflow-y: hidden; }
      .user-nav > ul > li.dd {
        margin-right: 0.8em;
        background-position: 100% 70%; }
        .user-nav > ul > li.dd.active {
          background-position: 100% 70%; }
        .user-nav > ul > li.dd.active > ul {
          display: block; }
        .user-nav > ul > li.dd ul {
          display: none;
          position: absolute;
          z-index: -5;
          padding: 1em 1em 0.3em 0.8em;
          background: #411085;
          /* The Fallback */
          background: rgba(65, 16, 133, 0.8);
          -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          background-clip: padding-box;
          height: auto;
          max-height: 320px;
          width: auto;
          overflow: scroll;
          overflow-x: hidden;
          right: 0;
          top: 15px;
          /* Hardware Acceleration */
          -webkit-transform: translateZ(0);
          -webkit-perspective: 1000;
          -webkit-backface-visibility: hidden;
          /* Force scroll bar for osx */ }
          .user-nav > ul > li.dd ul li {
            white-space: normal;
            float: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 0.6em 0 0.7em 0; }
            .user-nav > ul > li.dd ul li:after {
              content: ""; }
            .user-nav > ul > li.dd ul li:last-child {
              border: 0; }
            .user-nav > ul > li.dd ul li a {
              color: #fff; }
  .no-touch .user-nav li:hover {
    cursor: pointer; }
    .no-touch .user-nav li:hover a:hover {
      text-decoration: underline; }
    .no-touch .user-nav li:hover ul {
      display: block; }
    .no-touch .user-nav li:hover a:hover, .no-touch .user-nav li:hover a.selected {
      text-decoration: underline; }
  .no-touch .user-nav ul {
    top: 18px; }
  .lt-ie8 .main-nav {
    clear: both;
    width: 730px;
    z-index: 9; }
    .lt-ie8 .main-nav li {
      text-decoration: none !important; }
      .lt-ie8 .main-nav li ul {
        top: 28px; }
  .lt-ie8 .user-nav {
    z-index: 10; }
    .lt-ie8 .user-nav li {
      z-index: 10;
      text-decoration: none !important; }
      .lt-ie8 .user-nav li ul.currency {
        top: 18px;
        width: 120px; }
  .lt-ie8 li.dd.locale > ul {
    width: 80px; } }

.destinations .info {
  background-color: #f7f7fb;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 0.8em 0.1em;
  margin: 0;
  width: 100%;
  height: 40px;
  color: #000;
  font-size: 1.1em; }
  .destinations .info span.price {
    float: right;
    font-size: 0.9em; }
    .destinations .info span.price span.curr {
      font-size: 1.1em;
      color: #cc0057;
      font-weight: 900;
      font-style: italic;
      margin-left: 5px; }

@media screen and (min-width: 62em) {
  .destinations {
    border-top: 1px dotted #000; } }

.footer {
  background: #000; }
  .footer span.copy {
    color: #bcabc2; }

.home-text li {
  background: transparent url(../images/icons/tick.png) 0% 50% no-repeat; }

.btn-secondary {
  background: #109ad6; }

.btn-primary {
  background: #232d62;
  color: #fff;
  border: 1px solid #fff; }

.main-nav, .header {
  background: #fff; }

@media screen and (min-width: 62em) {
  .home-text {
    border-left: 1px dotted #000; }
    .home-text li {
      background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
      margin-bottom: 10px; }
  .search-container-wrapper form {
    margin: 0 auto;
    width: 990px; } }

.search-hotels {
  background: transparent url(../images/bg_asiarooms.jpg) top left no-repeat;
  background-size: cover; }
  .search-hotels .search-container {
    margin-top: 0px; }
  .search-hotels .search-container-wrapper {
    zoom: 1;
    background: #cc0057;
    height: 66px;
    overflow: hidden; }
    .search-hotels .search-container-wrapper:before, .search-hotels .search-container-wrapper:after {
      content: "";
      display: table; }
    .search-hotels .search-container-wrapper:after {
      clear: both; }
    .search-hotels .search-container-wrapper div {
      float: left;
      width: 100%; }

@media screen and (min-width: 48em) {
  .headline {
    background: #232d62;
    /* The Fallback */
    background: rgba(35, 45, 98, 0.9);
    padding: 0.35em; }
  .search-container {
    background: #cc0057; } }

@media screen and (min-width: 62em) {
  .search-hotels {
    font-size: 1em; }
    .search-hotels .headline {
      margin: 2.6em 0 0 0; } }

/*# sourceMappingURL=asiarooms_main.css.map */