.email-deals {
  font-size: .9em;
  margin: 0;
  padding-left: .8em;
  margin-right: .7em;
  position: relative;
  h2 {
    span {
      font-style: italic;
    }
  }
  input {
    width: 65%;
    float: left;
  }
  form {
    @include clearfix;
  }
  .btn-secondary {
    margin-left: .8em;
    padding: 0 10px;
    height: 41px;
  }
  display: none;
}

.email-deals-error-msg {
    display: none;
}

@include respond-min($small) {
  .email-deals {
    display: block;
    width: 72%;
    margin-top: .7em;
    margin-right: 0;
    float: left;
    h2 {
      float: left;
      margin: .2em .5em 0.83em 0;
    }
    input[type='text'], input[type='email'] {
      width: 39%;
      float: left;
    }
    .btn-secondary {
      max-width: 20%;
      float: left;
    }
  }
}

@include respond-min($medium) {
  .email-deals {
    width: 64%;
    input[type='text'], input[type='email'] {
      width: 41%;
    }
  }
}

  // Theme: Laterooms
  .email-deals {
    @include clearfix;
    h2 {
      span {
        color: $pink;
      }
    }
    .btn-secondary {
      color: $white;
    }
  }


    
  .lt-ie9 {
        input[type='email'] {
            padding: 0.6em 0.8em 0 0.8em;
        }        
    }

  .lt-ie8 {
         input.email-field {
            padding: 0.6em 0.8em 0 0.8em;
            height: 2.1em;
        }        
    }