//asia dest
.destinations {
        .info {
                background-color: $dark-white;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 1em .8em 0.1em;
                margin: 0;
                width: 100%;
                height: 40px;
                color: $black;
                font-size: 1.1em;

                span.price {
                        float: right;
                        font-size: .9em;

                        span.curr {
                                font-size: 1.1em;
                                color: $maroon;
                                font-weight: $ultra-bold;
                                font-style: italic;
                                margin-left: 5px;
                        }
                }
        }
}


@include respond-min($medium) {
        .destinations {
                border-top: 1px dotted $black;
        }
}
