<nav class="main-nav">
    <ul>
        <li><a class="selected" href="http://www.laterooms.com/">Home</a>
        </li>
        <li><a href="/en/Hotels.aspx" rel="nofollow">Search</a>
        </li>
        <li><a href="/en/special-offers.mvc">Special Offers</a>
        </li>
        <li><a href="/en/city-guides.aspx">City Guides</a>
        </li>
        <li><a href="/en/business-hotel-booking-services.aspx" rel="nofollow">Corporate</a>
        </li>
        <li class="dd"><a>About Us</a>
            <ul class="about-us">
                <li><a href="/en/static/AboutUs.mvc" rel="nofollow">Who are we</a>
                </li>
                <li><a href="http://laterooms.custhelp.com/app/answers/list" rel="nofollow">Help</a>
                </li>
                <li><a href="http://laterooms.custhelp.com/app/home" rel="nofollow">Customer Support</a>
                </li>
            </ul>
        </li>
        <li class="dd"><a>Other Services</a>
            <ul class="other-services">
                <li><a href="/en/static/holiday-cottages.mvc" rel="nofollow">Book a Cottage</a>
                </li>
                <li><a href="/en/static/london-theatre-tickets.mvc" rel="nofollow">Book London Theatre Tickets</a>
                </li>
                <li><a href="http://www.carhiremarket.com/laterooms?Affiliate_ID=540" rel="nofollow">Hire a Car</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

{{#compare brand "laterooms" operator="==="}}
    <div style="color: white">I am laterooms specific</div>
{{/compare}}

<div style="color: white; clear: both">{{df}}</div>
