//late dest
.destinations {
        ul {
        @include background-opacity($purple, 0.8);
        @include border-radius(0 0 5px 5px);
        @include clearfix;
        color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .4em .8em 0.1em;
        margin: 0;
        width: 100%;
        li {
            display: inline;
            line-height: 2;
            
        }
        .hotel {
            font-size: 1.1em;
        }
        .stars {
            font-size: 1.1em;
            span {
                position: relative;
                left: 0;
                top: 1px;
                width: 15px;
                height: 15px;
                display: inline-block;
                background: url('../images/icons/starBigx2.png') no-repeat;
                background-size: 15px 15px;

            }     
        }
        .price {
            color: $white;
            font-weight: $ultra-bold;
            font-style: italic;
            font-size: 2em;
            float: right;
            line-height: .9;
            .from {
                font-weight: normal;
                font-size: .5em;
                font-style: normal;
            }
        }
    }
}


@include respond-min($medium) {
    .destinations {
        border-top: 1px dotted $medium-purple;
    }
}


.lt-ie9 {
    .destinations {
         ul {
            .stars {
                span {
                    background: url('../images/icons/starx1.png') no-repeat;
                    top: 1px;
                }
            }
         }
    }
}




.lt-ie8 {
    .destinations {
        .destination {
            @include ie-boxsizing-fix;
            ul {
                padding: 0;
                li {
                    float: left;
                    padding-top: .4em;
                    margin-right: .4em;
                    &.price {
                        float: right;
                        margin-top: -.2em;
                    }
                    &.hotel {
                        padding-left: .4em;
                    }  

                    &.from {
                        margin-top: .2em;
                    }                
                } 
                .stars {
                    span {
                        background: url('../images/icons/starx1.png') no-repeat;
                        top: -3px;
                    }
                }
            }
        }
    }
}

