*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, input {
    font: 100%/1.5 "Lato", Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
    background: $light-grey;
}

input { font-weight: normal; }

h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
    font-weight: 800;
    color: $purple;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

a {
    color: white;
    text-decoration: none;
}

.main {
    @include hw-accel;

    -webkit-transition: -webkit-transform .5s ease;
    -moz-transition: -moz-transform .5s ease;
    -ms-transition: -ms-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);

    &.active {
        -ms-transform: translateX(11em);
        -webkit-transform: translateX(11em);
        transform: translateX(11em);
    }
}

.container {
    margin: 0 auto;
    padding: 15px;
    height: 100%;
}

.header {
    width: 100%;
    background: $purple;
    @include clearfix;
    .container {
        padding: 0;
    }
    .menu {
        width: 31px;
        height: 26px;
        text-decoration: none;
        float: left;
        background: url('../images/icons/menux2.png');
        background-size: 31px 26px;
        margin: .8em 0 0 1.4em;
    }
    h1 {
        font-size: 16px;
        margin: 1em 0 0.7em 1em;
        padding: 0;
        float: left;
    }
}

.footer {
    width: 100%;
    overflow: auto;
}

.container {
    @include clearfix;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: .4em;
}

.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.row-wrap {
    @include clearfix;
    border-bottom: 1px solid red;
}

.hidden {
    visibility: hidden;
}

.cookie-msg {
    @include clearfix;
    background: $mid-grey;
    padding: .1em 2em 0 .8em;
    &.hidden {
        display: none;
    }
    .container {
        position: relative;
        padding: 0 3em 0 1.4em;
    }
    a {
        color: $black;
    }
    .cookie-close {
        position: absolute;
        top: .8em;
        right: .8em;
    }
    .cookie-info {
        text-decoration: underline;
    }
}

.home-text {
    padding-left: 1em;
    li {
        padding: 0em 0em .2em 1.2em;
        font-size: 1.1em;
        white-space: nowrap;
    }
}

@include respond-min($x-small) {
    .home-text {
        margin-bottom: .4em;
        li {
            float: left;
            margin-right: 1.2em;
            &:last-child {
                display: none;
            }
        }
    }
}

@include respond-min($small) {
    .home-text {
        li {
            &:last-child {
                display: block;
            }
        }
    }
}

@include respond-min($medium) {

    .main.active {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }   

    .header {
        h1 {
            margin: 2.6em 0 0 1em;
        }
    }
 
    .home-text {
        @include clearfix;
        display: block;
        float: right;
        margin-top: .4em;
        padding-left: 1em;
        li {
            &:last-child {
                display: block;
            }
            padding: 0em 0em .2em 1.2em;
            font-size: 1.2em;
            vertical-align: baseline;
            float: none;
        }
    }
    .container { 
        width: 990px;
    }
}

@include respond-min($large) {



}
