.home-text {
    li {
        background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
    }
}

.btn-secondary {
    background: $light-blue;
}

.btn-primary {
    background: $navy;
    color: $white;
    border: 1px solid $white;
}


.main-nav, .header {
 background: #fff;
}

@include respond-min($medium) {
    .home-text {
        border-left: 1px dotted $black;
        li {
            background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
            margin-bottom: 10px;            
        }
    }

    .search-container-wrapper form { 
        margin: 0 auto;
        width: 990px;
    }

}