//generic dest
.destinations {
    h2 {
        display: none;
    }
    clear: both;
    .destinations-wrap {
        @include clearfix;
    }
    img {
        width: 100%;
        @include border-radius(5px 5px 0 0);
    }
    a {
        display: block;
        line-height: 0;
        text-decoration: none;
    }
    .destination {
        margin-bottom: .8em;
        position: relative;
        width: 100%;
    }

}

@include respond-min($x-small) {

    .destinations {
        margin-left: -.4em;
        margin-right: -.4em;
        .destination {
            width: 50%;
            float: left;
            margin-bottom: .8em;
            padding: 0 .4em;     
        }
        a {
            @include clearfix;
            position: relative;
        }
        img {
            width: 100%;
            float: left;
        }
    }

}

@include respond-min($medium) {

    .destinations {
        h2 {
            display: block;
            padding-left: .2em;
        }
        margin-left: -.4em;
        margin-right: -.4em;
        .destination {
            width: 33.333%;
            float: left;
            margin-bottom: 1.5%;
            padding: 0 .4em;
        }
        a {
            @include clearfix;
            position: relative;
        }
        img {
            width: 100%;
            float: left;
        }
    }

}

