.search-hotels {
    background: transparent url(../images/bg.jpg) no-repeat;
    background-size: cover;  
    background-position: top center;   
    background-size: 1200px 524px;

    .container {
        @include clearfix;

        div {
            float: left;
            width: 100%;
        }
    }    
}

@include respond-min($small) {
	.headline {
        @include background-opacity($purple, 0.7);
        padding: 0.1em 0.2em;        
		
		li {
			display: inline-block;

            &.star {
                font-size: 40px;
                font-weight: $bold;
                white-space: nowrap;

                span {
                    font-size: 24px;

                    &.icon {
                        position: relative;
                        top: 1px;
                        left: 2px;
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        background: url('../images/icons/starBigx2.png') no-repeat;
                        background-size: 22px 22px;
                    }
                }
            }

		}
	}

	.search-container {
	    background: rgb(255,255,255);
	    background: rgba(255,255,255,0.7);
	}	
}

@include respond-min($medium) {

    .search-hotels {
        font-size: 1em;

        .headline {
            margin: 3em 0 0 0;
        }

    }
}
