// ==========================================================================
// compiled/brand_ie.scss is a compiled file. Do not change manually
// ==========================================================================

@charset "UTF-8";

$old-ie: true;
$fix-mqs: 65em;


@import '../helpers/_variables.scss';
@import '../helpers/_mixins.scss';

@import '../base/_normalize.scss';
@import '../base/_typography.scss';

@import '../generic/_buttons.scss';
@import '../generic/_datepicker.scss';
@import '../generic/_forms.scss';
@import '../generic/_modal-window.scss';
//generic dest
.destinations {
    h2 {
        display: none;
    }
    clear: both;
    .destinations-wrap {
        @include clearfix;
    }
    img {
        width: 100%;
        @include border-radius(5px 5px 0 0);
    }
    a {
        display: block;
        line-height: 0;
        text-decoration: none;
    }
    .destination {
        margin-bottom: .8em;
        position: relative;
        width: 100%;
    }

}

@include respond-min($x-small) {

    .destinations {
        margin-left: -.4em;
        margin-right: -.4em;
        .destination {
            width: 50%;
            float: left;
            margin-bottom: .8em;
            padding: 0 .4em;     
        }
        a {
            @include clearfix;
            position: relative;
        }
        img {
            width: 100%;
            float: left;
        }
    }

}

@include respond-min($medium) {

    .destinations {
        h2 {
            display: block;
            padding-left: .2em;
        }
        margin-left: -.4em;
        margin-right: -.4em;
        .destination {
            width: 33.333%;
            float: left;
            margin-bottom: 1.5%;
            padding: 0 .4em;
        }
        a {
            @include clearfix;
            position: relative;
        }
        img {
            width: 100%;
            float: left;
        }
    }

}


.email-deals {
  font-size: .9em;
  margin: 0;
  padding-left: .8em;
  margin-right: .7em;
  position: relative;
  h2 {
    span {
      font-style: italic;
    }
  }
  input {
    width: 65%;
    float: left;
  }
  form {
    @include clearfix;
  }
  .btn-secondary {
    margin-left: .8em;
    padding: 0 10px;
    height: 41px;
  }
  display: none;
}

.email-deals-error-msg {
    display: none;
}

@include respond-min($small) {
  .email-deals {
    display: block;
    width: 72%;
    margin-top: .7em;
    margin-right: 0;
    float: left;
    h2 {
      float: left;
      margin: .2em .5em 0.83em 0;
    }
    input[type='text'], input[type='email'] {
      width: 39%;
      float: left;
    }
    .btn-secondary {
      max-width: 20%;
      float: left;
    }
  }
}

@include respond-min($medium) {
  .email-deals {
    width: 64%;
    input[type='text'], input[type='email'] {
      width: 41%;
    }
  }
}

  // Theme: Laterooms
  .email-deals {
    @include clearfix;
    h2 {
      span {
        color: $pink;
      }
    }
    .btn-secondary {
      color: $white;
    }
  }


    
  .lt-ie9 {
        input[type='email'] {
            padding: 0.6em 0.8em 0 0.8em;
        }        
    }

  .lt-ie8 {
         input.email-field {
            padding: 0.6em 0.8em 0 0.8em;
            height: 2.1em;
        }        
    }
.footer {
	ul.links {
		display: none;
	}

	span.copy {
		display: block;
		margin-left: 0.625em;
		margin-top: 0.625em;
	}	
}



@include respond-min($small) {

	.footer {
		color: #fff;
		font-size: 0.875em;
		position: relative;
		
		ul.links {
			padding: 1em 0.625em 0.625em 0.625em;
			display:block;
			width: 100%;
			height: auto;

			li {
				white-space: nowrap;
				display: inline-block;
				margin: 0 1.12em 0.6em 0;
			}
		}
	}

	.lt-ie8 {
		.footer {
			ul {
				li{
					*display: inline;
					zoom: 1;
				}
			}
		}          
	}

} //$small end
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, input {
    font: 100%/1.5 "Lato", Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
    background: $light-grey;
}

input { font-weight: normal; }

h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
    font-weight: 800;
    color: $purple;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

a {
    color: white;
    text-decoration: none;
}

.main {
    @include hw-accel;

    -webkit-transition: -webkit-transform .5s ease;
    -moz-transition: -moz-transform .5s ease;
    -ms-transition: -ms-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);

    &.active {
        -ms-transform: translateX(11em);
        -webkit-transform: translateX(11em);
        transform: translateX(11em);
    }
}

.container {
    margin: 0 auto;
    padding: 15px;
    height: 100%;
}

.header {
    width: 100%;
    background: $purple;
    @include clearfix;
    .container {
        padding: 0;
    }
    .menu {
        width: 31px;
        height: 26px;
        text-decoration: none;
        float: left;
        background: url('../images/icons/menux2.png');
        background-size: 31px 26px;
        margin: .8em 0 0 1.4em;
    }
    h1 {
        font-size: 16px;
        margin: 1em 0 0.7em 1em;
        padding: 0;
        float: left;
    }
}

.footer {
    width: 100%;
    overflow: auto;
}

.container {
    @include clearfix;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: .4em;
}

.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.row-wrap {
    @include clearfix;
    border-bottom: 1px solid red;
}

.hidden {
    visibility: hidden;
}

.cookie-msg {
    @include clearfix;
    background: $mid-grey;
    padding: .1em 2em 0 .8em;
    &.hidden {
        display: none;
    }
    .container {
        position: relative;
        padding: 0 3em 0 1.4em;
    }
    a {
        color: $black;
    }
    .cookie-close {
        position: absolute;
        top: .8em;
        right: .8em;
    }
    .cookie-info {
        text-decoration: underline;
    }
}

.home-text {
    padding-left: 1em;
    li {
        padding: 0em 0em .2em 1.2em;
        font-size: 1.1em;
        white-space: nowrap;
    }
}

@include respond-min($x-small) {
    .home-text {
        margin-bottom: .4em;
        li {
            float: left;
            margin-right: 1.2em;
            &:last-child {
                display: none;
            }
        }
    }
}

@include respond-min($small) {
    .home-text {
        li {
            &:last-child {
                display: block;
            }
        }
    }
}

@include respond-min($medium) {

    .main.active {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }   

    .header {
        h1 {
            margin: 2.6em 0 0 1em;
        }
    }
 
    .home-text {
        @include clearfix;
        display: block;
        float: right;
        margin-top: .4em;
        padding-left: 1em;
        li {
            &:last-child {
                display: block;
            }
            padding: 0em 0em .2em 1.2em;
            font-size: 1.2em;
            vertical-align: baseline;
            float: none;
        }
    }
    .container { 
        width: 990px;
    }
}

@include respond-min($large) {



}

.main-nav {
	white-space: nowrap;
	position: absolute;
	z-index: 2;
	top: 0;
	left: -11em;
	background: $dark-purple;
	height: 100%;
	width: 11em;
	padding-top: 1em;
	overflow: hidden;

	/* Hardware Acceleration  Samsung galaxy tab rendering issue*/
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	> ul{
		margin-top: 245px;

		>li:first-child {
			position: absolute;
			top: 5px;
			
			a {
				color: $white;

				&:hover {
					color: $yellow;
				}				
			}		
		}
	}


	&.active {
		> ul {
			margin-top: 475px;
		}
	}


	.dd {
		border: 0;
		color: $light-purple;
		position: relative;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 9em;
			left: 0.5em;
			top: 0;
			border-top: 1px dotted $light-purple;
		}

		&:last-child {
			padding-top: 0;
			
			&:before {
				top: -1em;
			}
		}

	
		> a {
			// display: none;
			color: $white;
			&:hover {
				color: $white;
				text-decoration: none;
			}
		}

		li {
			display: block;
			padding: 0.2em 0 1em 0.6em;
			font-size: 1em;

			> a {
				display: inline-block;
			}

			&:first-child {
				padding-top: 1em;
			}
		}
	}

	li {
		padding: 1em 0 1em  0.9em;
		font-size: 1.05em;
	}

	a {
		color: $white;

		&:hover, &.selected {
			color: $yellow;
		}
	}

	.user-nav {
		color: $yellow;
		margin-top: 1em;
		display: block;

		li {
			width: 10em;
			padding: .6em 1em;
		}
	}
}


ul.other-services li:nth-child(2) {
	white-space: pre-line;
}


@include respond-min($medium) {

	.main-nav {
		overflow: visible;
		top: 0;
		left: 0;
		background: $purple;
		height: auto;
		width: auto;
		padding-top: 0;
		position: relative;
		float: right;
		margin: 0.5em 0 0 0;
		@include clearfix;
		/* reset */
		-webkit-transform: none;
		-webkit-perspective: none;
		-webkit-backface-visibility: visible;	

		> ul{
			margin-top: 0;
			>li:first-child {
				position: static;
				
				a {
					color: $white;

					&:hover {
						color: $white;
					}				
				}		
			}			
		}


		&.active {
			> ul {
				margin-top:  0;
			}
		}


		.dd {
			background: transparent url(../images/nav-arrow-white.png) 100% 39% no-repeat;
			padding-right: .9em;
			margin-right: .6em;
			padding-left: .9em;
			border: none;
			color: $white;
			position: relative;

			&:before {
				content: none;
			}

			> a {
				display: block;
			}

			&:last-child {
				padding-top: 0.2em;
			}
		}

		li {
			color: $white;
			white-space: nowrap;
			float: left;
			padding: 0.2em .6em 0.6em .8em;
			border: 0;
			position: relative;

			a {
				padding: 0;

				&:hover, &.selected {
					color: $white;
				}
			}

			&:after {
				content: "|";
				@include color($white, .4);
				display:inline-block;
				height: 30px;
				z-index: 10;
				width: 1px;
				position: absolute;
				left: 0;
				top: 0.1em;
			}

			&:first-child {
				&:after {
					content: "";
				}
			}

			&.active {
				ul {
					display: block;

					li {
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						padding: .6em 0 .7em 0;
							&:last-child {
								border: 0;
							}			
						}
					}
			}

			ul {
				display: none;
				position: absolute;
				z-index: 100;
				width: 17em;
				padding: 1em 1em .3em .8em;
				@include background-opacity($purple, 0.8);
				@include border-radius(0 0 5px 5px);
				max-height: 300px;
				right: 0em;

				&.about-us {
					width: 12em;
				}

				li {
					float: none;

					&:after {
						content: "";
					}
				}
			}
		}

		.user-nav {
			display: none;
		}		
	}

// /* Hover interaction for desktop only */
	.no-touch {
		.main-nav {
			li {
				&:hover{
					cursor: pointer;

					a:hover{
						text-decoration: underline;
					}

					ul {
						display: block;
						li {
							border-bottom: 1px solid rgba(255, 255, 255, 0.1);
							padding: .6em 0 .7em 0;
							&:last-child {
								border: 0;
							}			
						}					
					}
				}
			}
		}
	}


	.lt-ie8 {
		.main-nav {
			clear: both;
			width: 730px;
			z-index: 9;

			li {
				text-decoration: none!important;
			 	ul {
					top: 28px;
		  		}	
		  	}		
		}
		.search-hotels {
			z-index: 8;
		}
	}
}


.whats-new {
    @include clearfix;
    margin-top: .8em;
    .story {
        @include clearfix;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: .8em;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@include respond-min($x-small) {
    .whats-new {
        margin-left: -.4em;
        margin-right: -.4em;
        margin-bottom: 1em;
        .story {
            width: 50%;
            float: left;
            padding: 0 .4em;
            @include ie-boxsizing-fix;
        }
    }
}
  $akkeron-logo-x: 0px;
  $akkeron-logo-y: 100px;
  $akkeron-logo-offset-x: 0px;
  $akkeron-logo-offset-y: -100px;
  $akkeron-logo-width: 100px;
  $akkeron-logo-height: 100px;
  $akkeron-logo-total-width: 100px;
  $akkeron-logo-total-height: 1200px;
  $akkeron-logo-image: '../images/partner-brands/partner-brands.png';
  $akkeron-logo: 0px 100px 0px -100px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $best-western-logo-x: 0px;
  $best-western-logo-y: 600px;
  $best-western-logo-offset-x: 0px;
  $best-western-logo-offset-y: -600px;
  $best-western-logo-width: 100px;
  $best-western-logo-height: 100px;
  $best-western-logo-total-width: 100px;
  $best-western-logo-total-height: 1200px;
  $best-western-logo-image: '../images/partner-brands/partner-brands.png';
  $best-western-logo: 0px 600px 0px -600px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $britannia-logo-x: 0px;
  $britannia-logo-y: 200px;
  $britannia-logo-offset-x: 0px;
  $britannia-logo-offset-y: -200px;
  $britannia-logo-width: 100px;
  $britannia-logo-height: 100px;
  $britannia-logo-total-width: 100px;
  $britannia-logo-total-height: 1200px;
  $britannia-logo-image: '../images/partner-brands/partner-brands.png';
  $britannia-logo: 0px 200px 0px -200px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $devere-logo-x: 0px;
  $devere-logo-y: 300px;
  $devere-logo-offset-x: 0px;
  $devere-logo-offset-y: -300px;
  $devere-logo-width: 100px;
  $devere-logo-height: 100px;
  $devere-logo-total-width: 100px;
  $devere-logo-total-height: 1200px;
  $devere-logo-image: '../images/partner-brands/partner-brands.png';
  $devere-logo: 0px 300px 0px -300px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $devere-village-logo-x: 0px;
  $devere-village-logo-y: 400px;
  $devere-village-logo-offset-x: 0px;
  $devere-village-logo-offset-y: -400px;
  $devere-village-logo-width: 100px;
  $devere-village-logo-height: 100px;
  $devere-village-logo-total-width: 100px;
  $devere-village-logo-total-height: 1200px;
  $devere-village-logo-image: '../images/partner-brands/partner-brands.png';
  $devere-village-logo: 0px 400px 0px -400px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $hilton-logo-x: 0px;
  $hilton-logo-y: 500px;
  $hilton-logo-offset-x: 0px;
  $hilton-logo-offset-y: -500px;
  $hilton-logo-width: 100px;
  $hilton-logo-height: 100px;
  $hilton-logo-total-width: 100px;
  $hilton-logo-total-height: 1200px;
  $hilton-logo-image: '../images/partner-brands/partner-brands.png';
  $hilton-logo: 0px 500px 0px -500px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $macdonald-logo-x: 0px;
  $macdonald-logo-y: 0px;
  $macdonald-logo-offset-x: 0px;
  $macdonald-logo-offset-y: 0px;
  $macdonald-logo-width: 100px;
  $macdonald-logo-height: 100px;
  $macdonald-logo-total-width: 100px;
  $macdonald-logo-total-height: 1200px;
  $macdonald-logo-image: '../images/partner-brands/partner-brands.png';
  $macdonald-logo: 0px 0px 0px 0px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $mecure-logo-x: 0px;
  $mecure-logo-y: 700px;
  $mecure-logo-offset-x: 0px;
  $mecure-logo-offset-y: -700px;
  $mecure-logo-width: 100px;
  $mecure-logo-height: 100px;
  $mecure-logo-total-width: 100px;
  $mecure-logo-total-height: 1200px;
  $mecure-logo-image: '../images/partner-brands/partner-brands.png';
  $mecure-logo: 0px 700px 0px -700px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $nh-logo-x: 0px;
  $nh-logo-y: 800px;
  $nh-logo-offset-x: 0px;
  $nh-logo-offset-y: -800px;
  $nh-logo-width: 100px;
  $nh-logo-height: 100px;
  $nh-logo-total-width: 100px;
  $nh-logo-total-height: 1200px;
  $nh-logo-image: '../images/partner-brands/partner-brands.png';
  $nh-logo: 0px 800px 0px -800px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $ph-logo-x: 0px;
  $ph-logo-y: 900px;
  $ph-logo-offset-x: 0px;
  $ph-logo-offset-y: -900px;
  $ph-logo-width: 100px;
  $ph-logo-height: 100px;
  $ph-logo-total-width: 100px;
  $ph-logo-total-height: 1200px;
  $ph-logo-image: '../images/partner-brands/partner-brands.png';
  $ph-logo: 0px 900px 0px -900px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $pp-logo-x: 0px;
  $pp-logo-y: 1000px;
  $pp-logo-offset-x: 0px;
  $pp-logo-offset-y: -1000px;
  $pp-logo-width: 100px;
  $pp-logo-height: 100px;
  $pp-logo-total-width: 100px;
  $pp-logo-total-height: 1200px;
  $pp-logo-image: '../images/partner-brands/partner-brands.png';
  $pp-logo: 0px 1000px 0px -1000px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';
  $qhotels-logo-x: 0px;
  $qhotels-logo-y: 1100px;
  $qhotels-logo-offset-x: 0px;
  $qhotels-logo-offset-y: -1100px;
  $qhotels-logo-width: 100px;
  $qhotels-logo-height: 100px;
  $qhotels-logo-total-width: 100px;
  $qhotels-logo-total-height: 1200px;
  $qhotels-logo-image: '../images/partner-brands/partner-brands.png';
  $qhotels-logo: 0px 1100px 0px -1100px 100px 100px 100px 1200px '../images/partner-brands/partner-brands.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

.partner-brands {
    display: none;
    padding: 0  0 1em 0;
    ul {
        @include clearfix;  
    }
    li {
        float: left;
        margin: 0 5px 10px 0;
        background-color: #fff;
        border: 1px solid $light-purple;
        @include border-radius(5px);
        text-align: center;
        width: 100px; 
        height: 100px;
        &.last-child {
            margin: 0 0 10px 0;
        }
    }
    .partner-brand-devere { @include sprite($devere-logo) }
    .partner-brand-qhotels { @include sprite($qhotels-logo) }
    .partner-brand-macdonald { @include sprite($macdonald-logo) }
    .partner-brand-hilton { @include sprite($hilton-logo) }
    .partner-brand-mercure { @include sprite($mecure-logo) } 
    .partner-brand-village { @include sprite($devere-village-logo) } 
    .partner-brand-nhhotels { @include sprite($nh-logo) }
    a {
        line-height: 0;
        display: block;
        width:100%;
        height:100%;
    }
}
@include respond-min($medium) {
    .partner-brands {
        border-top: 1px dotted $medium-purple;
        display: block;
    }
}
.children, .adults, .days, .date {
    position: relative;
}

.date {
    .select-icon {
        right: 2.6em;
    }
}

.adults {
    .select-icon {
        right: 1.2em;
    }
}

.validation-error-msg {
    display: none;
}

.search-hotels {
    position: relative;

    h1, .headline, p {
        display: none;
    }

    h1 {
        margin-top: 0.3em;
    }

    input[type='submit'] {
        font-weight: $bold;
        padding: 9px;
    }    

    input, select {
        margin-bottom: 0.8em;
    }

    .search-container {
        padding: 12px 0 12px 0;
        position: relative;
        margin: 0;
        z-index: 1;
        @include border-radius(5px);

        .adults {
            padding-right: .4em;
            width: 50%;
        }

        .children {
            padding-left: .4em;
            width: 50%;
        }  

        .days {
            width: 100%;
            select {
                background-position: 97% 51%;
            }
        }

        .date {
            position: relative;

            .cal-icon {
                width: 28px;
                height: 32px;
                background: transparent url(../images/icons/calendarx2.png) 0% 47% no-repeat;
                background-size: 22px 20px;
                position: absolute;
                top: 0.4em;
                right: 0.45em;
                z-index: 2;
            }                
        }    

    }

    #autocomplete {
        height: auto;
        width: 100%;
        background: #fff;
        @include border-radius(5px);
        border: 1px solid #bab9c7;
        margin: -.8em 0 .8em;
        ul {
            li {
                padding: 10px;
                border-bottom: 1px solid #bab9c7;
                position: relative;
                height: auto;
                width: 100%;
                display: block;
                float: left;


                span.location  {
                    display: block;
                    width: 67%;
                    float: left;
                }
                span.available-result-count {
                    display: block;
                    vertical-align: middle;
                    width: 33%;
                    float: right;
                    text-align: right;
                }
                &:last-child {

                }
                span {
                    font-weight: bold;
                }
            }
            li:hover {
                background: $purple;
                color: $white;
            }
        }
    }    
}

.lt-ie10 {
    .cal-icon {
        right: 1.1em !important;
    }   
}


@include respond-min($small) {

    .search-hotels {
        a:hover {
          text-decoration: none;
        }

        #autocomplete {
            width: 21em;
            margin: 0;
        }
        
        .search-container {
            margin-top: 70px;
            
            .days {
                select {
                    background-position: 93% 51%;
                }
            }           
        }

        .date {
            .select-icon {
                right: 2.13em;
            }
        }

        .adults {
            .select-icon {
                right: .6em;
            }
        }

        background-position: top center;
        background-size: 1200px 524px;
        height: 24.6em;
        font-size: 0.9em;

        input, select {
            margin-bottom: 0;
        }        

        h1 {
            display: block;
            visibility:hidden;
        }        

        .headline {
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            width: auto;
            height: auto;
            margin: 2.9em 0 0 0;
            white-space: nowrap;
            color: $white; 
            font-size: 40px;
            font-weight: $bold;
            @include border-radius(5px);

            li {
                margin: 0;
                padding: 0;

                &.hotel {
                    font-size: 40px;
                }

                &.from {
                    font-size: 24px;
                }

                &.price {
                    font-weight: $bold;
                    font-style: italic;
                    font-size: 40px;
                    margin-left: 5px;
                }
            }
        }

        .search-container {
            height: 4.3em;

            div {
                margin-right: 1%;
            }

            p {
                float: left;
                display: block;
                line-height: 1.2em;
                padding:0;
                margin: 2px 2% 0 0;
                width: 4%;
            }

            .destination {
                width: 14.5%;
                //min-width: 124px;
                margin-left: 1%;
            }

            .date {
                width: 23%;
                select{
                    background-position: 80% 51%;
                }         
                .cal-icon {
                    right: 0em;
                    background-position: 0% 37%;
                    cursor: pointer;
                }
            }
            .days {
                width: 13%;
            }
            .adults {
                width: 12%;
                padding: 0;
            }
            .children {
                width: 13.5%;
                padding: 0;
            }
            .search {
                width: 11%;
            }


        }      
    }
    
   .lt-ie9, .lt-ie10 {
        .search-hotels {
            .search-container {
                background: rgb(255,255,255);
                .date {
                    .cal-icon {
                        background: url(../images/icons/calendarx1.png) no-repeat;
                        top: .8em;
                        right: 1em;
                    }
                }
            }

            .headline {
                width: 11em;
            }

            .select-icon {
                display: none;
            }

            select, input[type="text"] {
                padding-bottom: 10px;
            }

            input[type="text"] {
                padding: 0.6em 0.8em 0 0.8em;
            }        
        }
    }    

    .lt-ie10 {
        .search-hotels {
            .search-container {        
                input[type="text"] {
                    padding: 0.1em 0.8em 0 0.8em;
                }
            }
        }
        .search-hotels {
            .search-container {
                .destination {
                    width: 14%;
                }
                .date {
                    width: 22.5%;
                }
                .days {
                    width: 13.5%;
                }
                .children {
                    width: 14%;
                }
            }
        }
    }



}


@include respond-min($x-medium) {
    .search-hotels {
        .search-container {
            .destination {
                width: 24%;
            }

            .date {
                width: 19.5%; // 22
                select{
                    background-position: 80% 51%;
                }         
                .cal-icon {
                    right: 0em;
                    background-position: 0% 37%;
                }
            }
            .days {
                width: 11%; //12
            }
            .adults {
                width: 10%; //11
            }
            .children {
                width: 11.5%; //13
            }
            .search {
                width: 11%;
            }
        }        
    }

    .lt-ie10 {
        .search-hotels {
            .search-container {
                .destination {
                    width: 22.5%;
                }
                .date {
                    width: 19.5%;
                }
                .days {
                    width: 11.5%;
                }
                .adults {
                    width: 10.5%;
                }
                .children {
                    width: 12%;
                }
            }
        }
    }

}


@include respond-min($medium) {

    .search-hotels {
        font-size: 1em;

        .search-container {

            p {
                margin: 2px 1.5% 0 0;
            }
            
            .destination {
                width: 23.5%;
            }

            .date {
                width: 20%;
            }

            .days {
                width: 11%;
            }
            .adults {
                width: 10%;
            }
            .children {
                width: 12%;
            }
            .date {
                .cal-icon {
                    background-position: 0% 54%;
                }
            }
        }
    }

    .lt-ie8 {
        .search-hotels {

            .search-container {
                padding: 20px 0 0 0;
                height: 45px;

                .destination {
                    max-width: 200px;
                    padding-left: 8px;
                }

                p {
                    line-height: 1.1em;
                    margin-top: -5px;
                    padding: 0 10px 0 10px;
                }
                .date {
                    .cal-icon {
                        top: 0.1em;
                    }                    
                }
                input[type="text"] {
                    padding: 0;
                    height: 21px;
                }

                input[type="submit"] {
                    font-weight: $bold;
                    height: 24px;
                    line-height: 0.5em;
                }   

            }

            .headline {
                width: 400px;
                height: 50px;
                overflow: hidden;
                margin-top: 230px;

                li{
                    *display: inline;
                    zoom: 1;

                    &.star {
                        padding-left: 5px;
                        
                        span.icon{
                            top: -5px;
                            padding-right: 6px;
                        }
                    }
                }
            }
        } 

        #autocomplete {
            width: 22em;
            ul {
                width: 21em;
            }
        }
    }

    .lt-ie9 {
        .headline {
            li {
                &.star {
                    span {
                        &.icon {
                            background: url('../images/icons/starBigx1.png') no-repeat;
                        }                           
                    }   
                }
            }      
        }

        .search-hotels {
            .search-container {
                .destination {
                    width: 24%;
                }
                .date {
                    width: 20%;
                }
                .children {
                    width: 11.5%;
                }
            }
        }
    }

   .lt-ie9, .lt-ie10 {
        .search-hotels {
            .search-container {
                select {
                    padding-bottom: 12px;
                }
            }
        }
    }

}

.social-media {
	margin: 0.6em 0 0 .8em;
	@include clearfix;
	float: left;
	clear: both;
	ul {
		@include clearfix;
		margin-bottom: 5px;
		float: left;
		margin: 0 10px 0 0;
	}
	li {
		float: left;
		margin-right: 7px;
	}
	.fb-likes, .g-likes {
		display: none;
		margin-right: 0px;
		padding: .5em .0em 0 .4em;
	}
	display: none;
}

.social-media-footer {
	margin: 0;
	@include clearfix;
	float: left;
	clear: both;
	li {
		float: left;
		margin-right: 7px;
	}
}

@include respond-min($small) {
	.social-media-footer {
		display: none;
	}
	.social-media {
		clear: none;
		display: block;
	}

}

@include respond-min($medium) {
	.social-media {
		margin-left: 1em;
		.fb-likes, .g-likes {
			display: block;
		}
	}
}



.user-nav {
	display: block;
	height: 255px; /* em */
	width: 11em;
	position: absolute;
	top: 50px;
	left: -11em;
	z-index: 3;
	overflow: hidden;

	// /* Hardware Acceleration  Samsung galaxy tab rendering issue*/
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	&.active {
		height: 485px;
	}	

	> ul {
		background: $mid-purple;

		> li {
			padding: 1em 0 1em 1em;
			color: $yellow;
			position: relative;
			z-index: 4;

			a {
				color: $yellow;
			}

			&:nth-child(1) {
				margin-top: 0.5em;

				a {
					&:nth-child(1) { 
						display: block;
						margin-bottom:  1.8em;
					}

					&:nth-child(3) {
						display: block;
						//padding-top: 0.7em;
					}
				}
			}

			&:nth-child(2):before, &:first-child:before {
				content: "";
				display: block;
				position: absolute;
				width: 9em;
				height: 1px;
				left: 0.5em;
				bottom: 0;
				border-top: 1px dotted $light-purple;
			}	

			&:first-child:before {
				top: 0em;
			}

			/* right slash between MyAccount and Register */
			&:nth-child(1) span { 
				display: none;
			}
		}
	}


	.dd {
		background: transparent url(../images/nav-arrow-yellow.png) no-repeat;
		background-position: 50% 54%;
		padding-right: .9em;

		&.locale ul{
			overflow: hidden;
		}

		&.active {
			background-position: 50% 8.5%;

			> ul {
				display: block;
			}
		}

		ul {
			display: none;
			height: 230px;
			width: 160px;
			position: relative;
			top: 13px;
			overflow-x: hidden;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;

			&.currency {
				overflow-x: hidden; 
			}

			li {
				padding: 0.8em 0.3em 0.8em 0.6em;

				a {
					color: $white;
				}
			}
		}
	}
}

@include respond-min($medium) {

.menu {
	display: none;
}

.user-nav {
	position: static;
	display: block;
	width: auto;
	height: 19px;
	float: right;
	@include clearfix;
	margin-top: .9em;
	background: none;
	overflow: visible;
	/* reset */
	-webkit-transform: none;
	-webkit-perspective: none;
	-webkit-backface-visibility: visible;	

	&.active {
		height: 19px;
	}		

	> ul {

		> li {
			float: left;
			position: relative;
			border: none;
			white-space: nowrap;
			padding: 0 .7em 0 .8em;

			&:nth-child(1) {
				margin-top: 0;

				a {
					&:nth-child(1), &:nth-child(3)  { 
						display: inline;
						border: 0;
						padding: 0;
					}
				}
			}

			&:nth-child(1) span { 
				display: inline;
			}


			&:nth-child(2):before, &:first-child:before {
				content: none;
			}


			&:after {
				content: "|";
				@include color($white, .4);
				height: 30px;
				z-index: 10;
				left: 0;
				position: absolute;
				top: 0em;
			}

			&:first-child {
				&:after {
					content: "";
				}
			}


			&.locale {
				ul {
					overflow-y: hidden;
				}
			}


			&.dd {
				margin-right: .8em;
				background-position:  100% 70%;

				&.active {
					background-position: 100% 70%;
				}

				&.active {
					> ul {
						display: block;
					}
				}
			

				ul {
					display: none;
					position: absolute;
					z-index: -5;
					padding: 1em 1em .3em .8em;
					@include background-opacity($purple, 0.8);
					@include border-radius(0 0 5px 5px);
					height: auto;
					max-height: 320px;
					width: auto;
					overflow: scroll;
					overflow-x: hidden;
					right: 0;
					top: 15px;

					/* Hardware Acceleration */
					-webkit-transform: translateZ(0);
					-webkit-perspective: 1000;
					-webkit-backface-visibility: hidden;

					/* Force scroll bar for osx */

					// &::-webkit-scrollbar {
					//     -webkit-appearance: none;
					// }

					// &::-webkit-scrollbar:vertical {
					//     width: 11px;
					//     background: $purple;
					// }

					// &::-webkit-scrollbar:horizontal {
					//   	display: none;
					// }

					// &::-webkit-scrollbar-thumb {
					//     border-radius: 8px;
					//     border: 1px solid $purple;
					//     background-color: rgba(255, 255, 255, 1);
					// }

					li {
						white-space: normal;

						&:after {
							content: "";
						}

						float: none;
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						padding: .6em 0 .7em 0;

						&:last-child {
							border: 0;
						}

						a {
							color: $white;
						}
					}
				}
			}
		}
	}
}



	


	/* Hover interaction for desktop only */
	.no-touch {
		.user-nav {
			li {
				&:hover {
					cursor: pointer;

					a:hover{
						text-decoration: underline;
					}

					ul {
						display: block;
					}
					a {
						&:hover, &.selected {
							text-decoration: underline;
						}
					}
				}
			}

			ul {
				top: 18px;
			}
		}
	}


	.lt-ie8 {
		.main-nav {
			clear: both;
			width: 730px;
			z-index: 9;

			li {
				text-decoration: none!important;
			 	ul {
					top: 28px;
		  		}	
		  	}		
		}

		.user-nav {
			z-index: 10;

		    li {
				z-index: 10;
				text-decoration: none!important;

		    	ul {
				

					&.currency {
						top: 18px;
						width: 120px;

					}
				}
		  	}			
		}

		li.dd.locale > ul {
			width: 80px;
		}
	}


}

//late dest
.destinations {
        ul {
        @include background-opacity($purple, 0.8);
        @include border-radius(0 0 5px 5px);
        @include clearfix;
        color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .4em .8em 0.1em;
        margin: 0;
        width: 100%;
        li {
            display: inline;
            line-height: 2;
            
        }
        .hotel {
            font-size: 1.1em;
        }
        .stars {
            font-size: 1.1em;
            span {
                position: relative;
                left: 0;
                top: 1px;
                width: 15px;
                height: 15px;
                display: inline-block;
                background: url('../images/icons/starBigx2.png') no-repeat;
                background-size: 15px 15px;

            }     
        }
        .price {
            color: $white;
            font-weight: $ultra-bold;
            font-style: italic;
            font-size: 2em;
            float: right;
            line-height: .9;
            .from {
                font-weight: normal;
                font-size: .5em;
                font-style: normal;
            }
        }
    }
}


@include respond-min($medium) {
    .destinations {
        border-top: 1px dotted $medium-purple;
    }
}


.lt-ie9 {
    .destinations {
         ul {
            .stars {
                span {
                    background: url('../images/icons/starx1.png') no-repeat;
                    top: 1px;
                }
            }
         }
    }
}




.lt-ie8 {
    .destinations {
        .destination {
            @include ie-boxsizing-fix;
            ul {
                padding: 0;
                li {
                    float: left;
                    padding-top: .4em;
                    margin-right: .4em;
                    &.price {
                        float: right;
                        margin-top: -.2em;
                    }
                    &.hotel {
                        padding-left: .4em;
                    }  

                    &.from {
                        margin-top: .2em;
                    }                
                } 
                .stars {
                    span {
                        background: url('../images/icons/starx1.png') no-repeat;
                        top: -3px;
                    }
                }
            }
        }
    }
}


.footer {
	background: $dark-purple;

	h2, .regions, .subregions, .languages, hr {
		display: none;
	}

	h2 {
		color: $white;
	}

	span.copy {
		color: $light-purple;
	}	
}

@include respond-min($small) {

	.footer {
		/* Hardware Acceleration */
		-webkit-transform: translateZ(0);
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;

		h2 {
			display: block;
		}

		ul.regions {
			display: block;
			width: auto;
			margin: 0.625em 0 0 0;
			@include border-radius(5px);
			display: block;
			white-space: normal;
			@include clearfix;

			li {
				background: #109bd7 url(../images/icons/arrow-rightx1.png) 10px 9px no-repeat;
				display: inline-block;
				font-size: 0.9em;
				white-space: nowrap;
				line-height: 3em;
				padding: 0 0.8em 0 2.4em;
				position: relative;
				margin-left: -5px;
				cursor: pointer;

				&.active {
					background: $darker-purple url(../images/icons/arrow-downx1.png) 7px 14px no-repeat;

					&:after {
						content: none;
					}
				}

				&:after {
					content: "";
					height: 15px;
					width: 1px;
					position: absolute;
					left: -1px;
					top: 10px;					
					border-right: 1px dotted #fff;					
				}

				&:last-child {
					border-right: none;
					-webkit-border-radius: 0 5px 5px 0;
				}


				&:first-child {
					-webkit-border-radius: 5px 0 0 5px;

					&:after {
						content: none;
					}
				}

				&.hideLine:after {
					content: none;
				}
			}
		}

		ul.subregions {
			font-size: 0.9em;
			font-weight: $bold;
			display: none;
			width: 100%;
			overflow: hidden;
			height: auto;
			white-space: normal;
			list-style-type: none;
			background: $darker-purple;
			padding: 1em 0 0 1.1em;
			margin-left: -4px;			

			&.active {
				display: block;
			}

			li {
				display: inline-block;
				margin-right: 1.2em;
				margin-bottom: 1em;
				white-space: nowrap;

				a {
					color: $light-blue;
				}
			}
		}		

		hr {
			display: block;
			width: 100%;
			height: 1px;
			border: none;
			border-bottom: 1px dotted #fff;
			background: transparent;
			padding-top: 2.2em;
			clear: both;
		}

		ul.languages {
			display: block;
			width: auto;
			height: 2.68em;
			padding: 0.625em;
			white-space: normal;

			li {
				display: inline-block;
				margin-right: 0.125em;
				white-space: nowrap;


				&:after {
					content: "|";
					color: $light-purple;
					margin-left: 0.31em;
				}

				&:last-child {
					margin-right: 0;

					&:after {
						display: none;
					}
				}

				&:first-child {
					color: $light-purple;
					
					&:after {
						display: none;
					}				
				}
			}
		}

	}


	.lt-ie8 {
		.footer {
			ul {
				&.regions {
					height: 2.4em;
					margin-bottom: 1em;
				}

				&.subregions{
					margin-top: -12px;
				}
			}

			ul.languages {
				li {
					padding-right: 1em;
				}
			}
		}          
	}	
}

.home-text {
    li {
        background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
        span {
            color: $pink;
            font-style: italic;
            font-size: 1.2em;
        }
    }
}

.btn-secondary {
    background: $light-blue;
}

.btn-primary {
    background: $yellow;
}

@include respond-min($medium) {
    .home-text {
        border-left: 1px dotted $medium-purple;
        li {
            background: transparent url(../images/icons/tick.png) 0% 50% no-repeat;
            span {
                color: $pink;
                font-style: italic;
                font-size: 1.5em;
            }            
        }
    }
}
.search-hotels {
    background: transparent url(../images/bg.jpg) no-repeat;
    background-size: cover;  
    background-position: top center;   
    background-size: 1200px 524px;

    .container {
        @include clearfix;

        div {
            float: left;
            width: 100%;
        }
    }    
}

@include respond-min($small) {
	.headline {
        @include background-opacity($purple, 0.7);
        padding: 0.1em 0.2em;        
		
		li {
			display: inline-block;

            &.star {
                font-size: 40px;
                font-weight: $bold;
                white-space: nowrap;

                span {
                    font-size: 24px;

                    &.icon {
                        position: relative;
                        top: 1px;
                        left: 2px;
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        background: url('../images/icons/starBigx2.png') no-repeat;
                        background-size: 22px 22px;
                    }
                }
            }

		}
	}

	.search-container {
	    background: rgb(255,255,255);
	    background: rgba(255,255,255,0.7);
	}	
}

@include respond-min($medium) {

    .search-hotels {
        font-size: 1em;

        .headline {
            margin: 3em 0 0 0;
        }

    }
}
