.user-nav {
	display: block;
	height: 255px; /* em */
	width: 11em;
	position: absolute;
	top: 50px;
	left: -11em;
	z-index: 3;
	overflow: hidden;

	// /* Hardware Acceleration  Samsung galaxy tab rendering issue*/
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	&.active {
		height: 485px;
	}	

	> ul {
		background: $mid-purple;

		> li {
			padding: 1em 0 1em 1em;
			color: $yellow;
			position: relative;
			z-index: 4;

			a {
				color: $yellow;
			}

			&:nth-child(1) {
				margin-top: 0.5em;

				a {
					&:nth-child(1) { 
						display: block;
						margin-bottom:  1.8em;
					}

					&:nth-child(3) {
						display: block;
						//padding-top: 0.7em;
					}
				}
			}

			&:nth-child(2):before, &:first-child:before {
				content: "";
				display: block;
				position: absolute;
				width: 9em;
				height: 1px;
				left: 0.5em;
				bottom: 0;
				border-top: 1px dotted $light-purple;
			}	

			&:first-child:before {
				top: 0em;
			}

			/* right slash between MyAccount and Register */
			&:nth-child(1) span { 
				display: none;
			}
		}
	}


	.dd {
		background: transparent url(../images/nav-arrow-yellow.png) no-repeat;
		background-position: 50% 54%;
		padding-right: .9em;

		&.locale ul{
			overflow: hidden;
		}

		&.active {
			background-position: 50% 8.5%;

			> ul {
				display: block;
			}
		}

		ul {
			display: none;
			height: 230px;
			width: 160px;
			position: relative;
			top: 13px;
			overflow-x: hidden;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;

			&.currency {
				overflow-x: hidden; 
			}

			li {
				padding: 0.8em 0.3em 0.8em 0.6em;

				a {
					color: $white;
				}
			}
		}
	}
}

@include respond-min($medium) {

.menu {
	display: none;
}

.user-nav {
	position: static;
	display: block;
	width: auto;
	height: 19px;
	float: right;
	@include clearfix;
	margin-top: .9em;
	background: none;
	overflow: visible;
	/* reset */
	-webkit-transform: none;
	-webkit-perspective: none;
	-webkit-backface-visibility: visible;	

	&.active {
		height: 19px;
	}		

	> ul {

		> li {
			float: left;
			position: relative;
			border: none;
			white-space: nowrap;
			padding: 0 .7em 0 .8em;

			&:nth-child(1) {
				margin-top: 0;

				a {
					&:nth-child(1), &:nth-child(3)  { 
						display: inline;
						border: 0;
						padding: 0;
					}
				}
			}

			&:nth-child(1) span { 
				display: inline;
			}


			&:nth-child(2):before, &:first-child:before {
				content: none;
			}


			&:after {
				content: "|";
				@include color($white, .4);
				height: 30px;
				z-index: 10;
				left: 0;
				position: absolute;
				top: 0em;
			}

			&:first-child {
				&:after {
					content: "";
				}
			}


			&.locale {
				ul {
					overflow-y: hidden;
				}
			}


			&.dd {
				margin-right: .8em;
				background-position:  100% 70%;

				&.active {
					background-position: 100% 70%;
				}

				&.active {
					> ul {
						display: block;
					}
				}
			

				ul {
					display: none;
					position: absolute;
					z-index: -5;
					padding: 1em 1em .3em .8em;
					@include background-opacity($purple, 0.8);
					@include border-radius(0 0 5px 5px);
					height: auto;
					max-height: 320px;
					width: auto;
					overflow: scroll;
					overflow-x: hidden;
					right: 0;
					top: 15px;

					/* Hardware Acceleration */
					-webkit-transform: translateZ(0);
					-webkit-perspective: 1000;
					-webkit-backface-visibility: hidden;

					/* Force scroll bar for osx */

					// &::-webkit-scrollbar {
					//     -webkit-appearance: none;
					// }

					// &::-webkit-scrollbar:vertical {
					//     width: 11px;
					//     background: $purple;
					// }

					// &::-webkit-scrollbar:horizontal {
					//   	display: none;
					// }

					// &::-webkit-scrollbar-thumb {
					//     border-radius: 8px;
					//     border: 1px solid $purple;
					//     background-color: rgba(255, 255, 255, 1);
					// }

					li {
						white-space: normal;

						&:after {
							content: "";
						}

						float: none;
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						padding: .6em 0 .7em 0;

						&:last-child {
							border: 0;
						}

						a {
							color: $white;
						}
					}
				}
			}
		}
	}
}



	


	/* Hover interaction for desktop only */
	.no-touch {
		.user-nav {
			li {
				&:hover {
					cursor: pointer;

					a:hover{
						text-decoration: underline;
					}

					ul {
						display: block;
					}
					a {
						&:hover, &.selected {
							text-decoration: underline;
						}
					}
				}
			}

			ul {
				top: 18px;
			}
		}
	}


	.lt-ie8 {
		.main-nav {
			clear: both;
			width: 730px;
			z-index: 9;

			li {
				text-decoration: none!important;
			 	ul {
					top: 28px;
		  		}	
		  	}		
		}

		.user-nav {
			z-index: 10;

		    li {
				z-index: 10;
				text-decoration: none!important;

		    	ul {
				

					&.currency {
						top: 18px;
						width: 120px;

					}
				}
		  	}			
		}

		li.dd.locale > ul {
			width: 80px;
		}
	}


}
