<nav class="user-nav">
    <ul>
        <li><a href="/en/MyAccount.mvc">My Account </a>
            <span>/</span> <a href="/en/MyAccountRegistration.mvc">Register</a>
        </li>
        <li><a href="/en/ManageBooking.mvc">My Booking</a>
        </li>
        <li class="dd locale"><a>English</a>
            <ul>
                <li data-locale="EN"><a href="/">English</a>
                </li>
                <li data-locale="ES"><a href="/es/">Espa&ntilde;ol</a>
                </li>
                <li data-locale="DE"><a href="/de/">Deutsch</a>
                </li>
                <li data-locale="FR"><a href="/fr/">Fran&ccedil;ais</a>
                </li>
                <li data-locale="IT"><a href="/it/">Italiano</a>
                </li>
            </ul>
        </li>
        <li class="dd"><a>GBP</a>
            <ul class="currency"></ul>
        </li>
    </ul>
</nav>