// Breakpoints
$x-small: 30em;
$small: 48em; /* 768px */
$x-medium: 56em;
$medium: 62em; /* 992px */
$large: 75em; /* 1200px */

// Font weights
$light: 300;
$normal: 400;
$bold: 700;
$ultra-bold: 900;

// Colours
$background: #fbfbfb;
$mid-grey: #bab9c7;
$light-grey: #f9f8f6;
$medium-purple: #7b3ac4;
$light-purple: #e7e7ed;

$purple: #411085;
$dark-purple: #0a0545;
$darker-purple: #130551;
$mid-purple: #140253;
$yellow: #ffcd1b;
$light-blue: #109ad6;
$white: #fff;
$black: #000;
$pink: #a8005f;


//asia rooms
$maroon: #cc0057;
$dull-pruple: #bcabc2;
$dark-white: #f7f7fb;
$navy: #232d62;
